<div id="retakemodal" class="uk-modal" aria-hidden="true" style="display: none; overflow-y: scroll;">
    <div class="uk-modal-dialog">
        <div class="uk-modal-header md-bg-teal-600" ng-if="modalpostponement.Listmotive.length>0" style="border-bottom: 0px;">
            <h3 class="uk-modal-title">{{'0166' | translate}}</h3>
        </div>
        <div class="uk-form-row" style="height: 446px;">
            <form class="form" name="myForm" ng-if="modalpostponement.Listmotive.length>0">
                <div class="uk-form-row">
                    <div class="uk-modal-content">{{'0113' | translate}}:</div>

                    <select class="md-input" ng-options="obj as obj.name for obj in modalpostponement.Listmotive track by obj.id" data-ng-model="modalpostponement.motive" class="form-control"></select>
                </div>
                <div class="uk-form-row">
                    <div class="uk-form-row">
                        <label>{{'0114' | translate}}:</label>
                        <div class="md-input-wrapper">
                            <textarea cols="30" rows="2" data-ng-model="modalpostponement.Comment" class="md-input no_autosize" style="margin: 0px -10.5px 0px 0px; width: 565px; height: 54px;"></textarea><span class="md-input-bar "></span>
                        </div>
                    </div>
                    <div class="uk-form-row">
                        
                        <table class="uk-table  uk-table-small uk-table-middle tablescrollable">
                          <thead class="theadscrollable">
                           <tr>
                             <th class="uk-width-1-10 uk-text-center small_col">
                               <input type="checkbox" icheck ng-model="modalpostponement.selectAllcheck" class="check_all" ng-change="modalpostponement.selectall()" table-check-all></th>
                             <th class="uk-width-3-10">{{'0098' | translate}}</th>
                             <th class="uk-width-3-10">{{'0198' | translate}}</th>
                             <th class="uk-width-4-10 uk-text-center">{{'0013' | translate}}</th>
                            </tr>
                            </thead>
                            <tbody class="tbodyscrollable" style="height: 228px;">
                                <tr data-ng-repeat="Test in modalpostponement.Detail.tests">
                                    <td ng-if="Test.result.sampleState === 1" class="uk-width-1-10 uk-text-center uk-table-middle small_col">
                                       <i class="material-icons"  >&#xE418;</i>
                                    </td>
                                    <td ng-if="Test.result.sampleState !== 1" class="uk-width-1-10 uk-text-center uk-table-middle small_col">
                                        <input type="checkbox" icheck ng-model="Test.select" class="check_row" table-check-row>
                                    </td>
                                    <td class="uk-width-3-10" data-ng-bind="Test.code"></td>
                                    <td class="uk-width-3-10" data-ng-bind="Test.abbr"></td>
                                    <td class="uk-width-4-10" data-ng-bind="Test.name"></td>
                                </tr>                                                        
                            </tbody>
                        </table>
                         <span ng-if=" modalpostponement.messagepopup!==''" class="uk-container-center help-block">{{vm.messagepopup}}</span>
                    </div>
                </div>
            </form>
            <form class="form" name="myForm" ng-if="modalpostponement.typemotive === undefined">
                <div class="uk-grid uk-container-center">
                    <div class="uk-width-3-10">
                        <img src="images/iconinfo.png" height="90" width="90">
                    </div>
                    <div class="uk-width-7-10" style="margin-top: 3%;">
                        <span>Necesita crear motivos de tipo aplazamiento de la muestra para poder realizar la acción</span>
                    </div>
                </div>
            </form>
        </div>
        <div class="uk-modal-footer uk-text-right" ng-if="modalpostponement.Listmotive.length>0" >
            <button type="button" class="md-btn md-btn-primary md-btn-wave-light waves-effect waves-button waves-light uk-modal-close" ng-click="modalpostponement.Savepostponement()"
                    ng-class="{'disabled': (modalpostponement.motive.id === -1 || modalpostponement.Comment === '' || (modalpostponement.Detail.tests | filter:{ select: true}).length === 0 ),'md-bg-teal-600': (modalpostponement.motive.id !== -1 && modalpostponement.Comment !== '' && (modalpostponement.Detail.tests | filter:{ select: true}).length !== 0 )}">
                {{'0007' | translate}}
            </button>
            <button type="button" class="uk-modal-close md-btn md-btn-flat uk-modal-close" ng-click="modalpostponement.Comment=''; modalpostponement.motive.id=-1">{{'0008' | translate}}</button>
        </div>
    </div>
</div>