<style>
  .ordersearchrecall-padding-search {
    padding-top: 5px;
  }

  .ordersearchrecall-uppercase {
    text-transform: uppercase;
  }

  .ordersearchrecall-table-row {
    margin-top: 10px !important;
  }

  .ordersearchrecall-table-container {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    min-height: 290px !important;
    max-height: 412px !important;
  }

  .ordersearchrecall-filter-margin {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .ordersearchrecall-filter-padding {
    padding-top: 10px;
    padding-bottom: 5px;
  }

  input.ordersearchrecall-data-input {
    padding-bottom: 5px !important;
    margin-top: -6px !important;
    background-color: transparent !important;
    width: 100% !important;
    border-bottom-width: 1px !important;
    position: relative !important;
    top: -38px !important;
    border-bottom-color: #ccc !important;
  }

  span.k-picker-wrap,
  span.k-state-default,
  span.k-state-default:hover,
  span.k-state-default:focus {
    padding: 0px !important;
    height: 35px !important;
    border-style: none;
    background-color: #fff !important
  }

  .md-input-wrapper {
    width: 96% !important
  }

  #div_date {
    width: 210px !important;
  }

  #div_date>div.md-input-wrapper {
    width: 174px !important;
  }
</style>
<loadpage view="ordersearchrecall.loading"></loadpage>
<div id="ordersearchrecall" class="uk-modal uk-modal-card-fullscreen" aria-hidden="true">
  <loadpage view="ordersearchrecall.loadingdata"></loadpage>
  <div class="uk-modal-dialog uk-modal-dialog-blank">
    <div class="md-card uk-height-viewport">
      <div class="md-card-toolbar md-bg-purple-300">
        <div class="md-card-toolbar-actions">
          <div>
            <i class="md-icon material-icons  md-color-grey-50" ng-click="ordersearchrecall.getCloset()"
              data-uk-tooltip="{pos:'top'}" title="{{'0329'| translate}}" style="margin: 0px;">&#xE5CD;</i>
          </div>
        </div>
        <span class="margin-icon-modal">
          <i class="material-icons md-color-grey-50 md-33">&#xE923;</i>
        </span>
        <h3 class="md-card-toolbar-heading-text md-color-grey-50">
          {{'0778' | translate}}
        </h3>
      </div>
      <div class="md-card-content">
        <div class="uk-form-row">
          <div class="md-card">
            <div class="md-card-content">
              <div class="uk-tab-center" ng-if="ordersearchrecall.viewtable">
                <ul class="uk-tab" data-uk-tab="{connect:'#tabs_filter_recall', animation:'scale',swiping: false}" change.uk.tab="">
                  <li class="uk-active">
                    <a href="#" ng-click="ordersearchrecall.eventSelectDate()">{{'0325' | translate}}</a>
                  </li>
                  <li>
                    <a ng-click="ordersearchrecall.eventSelectOrder()">{{'0110' | translate}}</a>
                  </li>
                  <li>
                    <a href="#" ng-click="ordersearchrecall.eventSelectPatientId()">{{'0117' | translate}}</a>
                  </li>
                  <li>
                    <a href="#" ng-click="ordersearchrecall.eventSelectPatient()">{{'0398' | translate}}</a>
                  </li>
                </ul>
              </div>
              <ul id="tabs_filter_recall" class="uk-switcher uk-margin ordersearchrecall-filter-margin">
                <li class="ordersearchrecall-padding-search">
                  <div class="uk-form-row">
                    <div class="uk-grid uk-container-center ordersearchrecall-filter-padding">
                      <div id="div_date" class="uk-width-1-6 uk-row-first" style="margin-top: 10px;">
                        <md-datepicker ng-model="ordersearchrecall.dateToSearch" name="dateField1"
                          ng-change="ordersearchrecall.searchByDate()" md-open-on-focus
                          md-is-open="ordersearchrecall.isOpen2" ng-required="true"
                          md-max-date="ordersearchrecall.maxDate">
                        </md-datepicker>
                      </div>
                      <div class="uk-width-1-5" style="padding-top: 12px;">
                        <button type="button"
                          class="md-fab md-fab-xsmall md-fab-success md-fab-wave-light waves-effect waves-light md-bg-purple-300"
                          ng-click="ordersearchrecall.searchByDate()">
                          <i class="material-icons md-24 md-light no_margin">&#xE8B6;</i>
                        </button>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="ordersearchrecall-padding-search">
                  <div class="uk-form-row">
                    <div class="uk-grid uk-container-center ordersearchrecall-filter-padding">
                      <div class="uk-width-2-5 uk-row-first">
                        <div class="md-input-wrapper">
                          <label>{{'0110' | translate}}</label>
                          <input id="txt_ordersearchrecall_order" type="number" class="md-input"
                            ng-model="ordersearchrecall.orderToSearch"
                            ng-keypress="$event.keyCode === 13 && ordersearchrecall.searchByOrder()">
                          <span class="md-input-bar"></span>
                        </div>
                      </div>
                      <div class="uk-width-1-5" style="padding-top: 12px;">
                        <button type="button"
                          class="md-fab md-fab-xsmall md-fab-success md-fab-wave-light waves-effect waves-light md-bg-purple-300"
                          ng-click="ordersearchrecall.searchByOrder()">
                          <i class="material-icons md-24 md-light no_margin">&#xE8B6;</i>
                        </button>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="ordersearchrecall-padding-search">
                  <div class="uk-form-row">
                    <div class="uk-grid uk-container-center ordersearchrecall-filter-padding">
                      <div class="uk-width-2-5 uk-row-first" ng-if="ordersearchrecall.showDocumentType">
                        <label>{{'0233' | translate}}</label>
                        <select id="txt_ordersearchrecall_patient_doc" class="md-input"
                          ng-model="ordersearchrecall.patientDocToSearch">
                          <option ng-repeat="doc in ordersearchrecall.documentTypes" value="{{doc.id}}">
                            {{doc.name.toUpperCase()}}
                          </option>
                        </select>
                        <span class="md-input-bar"></span>
                      </div>
                      <div class="uk-width-1-5 uk-row-first">
                        <div class="md-input-wrapper">
                          <label>{{'0117' | translate}}</label>
                          <input id="txt_ordersearchrecall_patient_id" type="text"
                            class="md-input ordersearchrecall-uppercase" ng-model="ordersearchrecall.patientIdToSearch"
                            ng-keypress="$event.keyCode === 13 && ordersearchrecall.searchByPatientId()">
                          <span class="md-input-bar"></span>
                        </div>
                      </div>
                      <div class="uk-width-1-5" style="padding-top: 12px;">
                        <button type="button"
                          class="md-fab md-fab-xsmall md-fab-success md-fab-wave-light waves-effect waves-light md-bg-purple-300"
                          ng-click="ordersearchrecall.searchByPatientId()">
                          <i class="material-icons md-24 md-light no_margin">&#xE8B6;</i>
                        </button>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="ordersearchrecall-padding-search">
                  <div class="uk-form-row">
                    <div class="uk-grid uk-container-center ordersearchrecall-filter-padding">
                      <div class="uk-width-1-5 uk-row-first">
                        <div class="md-input-wrapper">
                          <label>{{'0234' | translate}}</label>
                          <input id="txt_ordersearchrecall_patient_last_name" type="text"
                            class="md-input ordersearchrecall-uppercase" ng-model="ordersearchrecall.lastNameToSearch"
                            ng-keypress="$event.keyCode === 13 && ordersearchrecall.searchByPatient()">
                          <span class="md-input-bar"></span>
                        </div>
                      </div>
                      <div class="uk-width-1-5">
                        <div class="md-input-wrapper">
                          <label>{{'0235' | translate}}</label>
                          <input type="text" class="md-input ordersearchrecall-uppercase"
                            ng-model="ordersearchrecall.surNameToSearch"
                            ng-keypress="$event.keyCode === 13 && ordersearchrecall.searchByPatient()">
                          <span class="md-input-bar"></span>
                        </div>
                      </div>
                      <div class="uk-width-1-5">
                        <div class="md-input-wrapper">
                          <label>{{'0236' | translate}}</label>
                          <input type="text" class="md-input ordersearchrecall-uppercase"
                            ng-model="ordersearchrecall.name1ToSearch"
                            ng-keypress="$event.keyCode === 13 && ordersearchrecall.searchByPatient()">
                          <span class="md-input-bar"></span>
                        </div>
                      </div>
                      <div class="uk-width-1-5">
                        <div class="md-input-wrapper">
                          <label>{{'0237' | translate}}</label>
                          <input type="text" class="md-input ordersearchrecall-uppercase"
                            ng-model="ordersearchrecall.name2ToSearch"
                            ng-keypress="$event.keyCode === 13 && ordersearchrecall.searchByPatient()">
                          <span class="md-input-bar"></span>
                        </div>
                      </div>
                      <div class="uk-width-1-5" style="padding-top: 12px;">
                        <button type="button"
                          class="md-fab md-fab-xsmall md-fab-success md-fab-wave-light waves-effect waves-light md-bg-purple-300"
                          ng-click="ordersearchrecall.searchByPatient()">
                          <i class="material-icons md-24 md-light no_margin">&#xE8B6;</i>
                        </button>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="uk-width-1-1" style="margin-top: 10px;height: 74%">
          <div class="md-card md-card-hover" style="height: 100%;">
            <div class="md-card-content" style="height: 100%;padding: 0px;">
              <div class="md-card-content fullheight" style="padding: 0px;">
                <div class="uk-grid uk-flex uk-flex-center uk-flex-middle div-head" style="height: 39px;">
                  <div class="uk-width-1-10" style="padding-left: 10px;"
                    ng-click="ordersearchrecall.sortType = 'order'; ordersearchrecall.sortReverse = !ordersearchrecall.sortReverse">
                    <resultssort sortvalue="'orderNumber'" sorttype="ordersearchrecall.sortType"
                      sortreverse="ordersearchrecall.sortReverse"></resultssort>
                    {{'0110' | translate}}
                  </div>
                  <div class="uk-width-2-10" style="padding-left: 10px;" ng-if="ordersearchrecall.showDocumentType"
                    ng-click="ordersearchrecall.sortType = 'documentTypeId'; ordersearchrecall.sortReverse = !ordersearchrecall.sortReverse">
                    <resultssort sortvalue="'documentTypeId'" sorttype="ordersearchrecall.sortType"
                      sortreverse="ordersearchrecall.sortReverse"></resultssort>{{'0233' | translate}}
                  </div>
                  <div style="padding-left: 10px;"
                    ng-click="ordersearchrecall.sortType = 'patientId'; ordersearchrecall.sortReverse = !ordersearchrecall.sortReverse"
                    ng-class="{'uk-width-2-10' : ordersearchrecall.showDocumentType,'uk-width-4-10' : !ordersearchrecall.showDocumentType}">
                    <resultssort sortvalue="'patientId'" sorttype="ordersearchrecall.sortType"
                      sortreverse="ordersearchrecall.sortReverse"></resultssort>{{'0117' | translate}}
                  </div>
                  <div class="uk-width-2-10" style="padding-left: 10px;"
                    ng-click="ordersearchrecall.sortType = 'lastName'; ordersearchrecall.sortReverse = !ordersearchrecall.sortReverse">
                    <resultssort sortvalue="'lastName'" sorttype="ordersearchrecall.sortType"
                      sortreverse="ordersearchrecall.sortReverse"></resultssort>{{'0398' | translate}}
                  </div>
                  <div class="uk-width-2-10" style="padding-left: 10px;"
                    ng-click="ordersearchrecall.sortType = 'birthday'; ordersearchrecall.sortReverse = !ordersearchrecall.sortReverse">
                    <resultssort sortvalue="'birthday'" sorttype="ordersearchrecall.sortType"
                      sortreverse="ordersearchrecall.sortReverse"></resultssort>{{'0120' | translate}}
                  </div>
                  <div class="uk-width-1-10" style="padding-left: 10px;"
                    ng-click="ordersearchrecall.sortType = 'sex'; ordersearchrecall.sortReverse = !ordersearchrecall.sortReverse">
                    <resultssort sortvalue="'sex'" sorttype="ordersearchrecall.sortType"
                      sortreverse="ordersearchrecall.sortReverse"></resultssort>{{'0426' | translate}}
                  </div>
                </div>
                <div vs-repeat="{size: 30}" class="vs-repeat-custom-scroll" style="height: calc(100% - 40px);"
                  data-scroll-to-top='ordersearchrecall.orders'>
                  <div
                    ng-repeat="order in ordersearchrecall.orders | orderBy:ordersearchrecall.sortType:ordersearchrecall.sortReverse"
                    class="uk-grid uk-flex uk-flex-center uk-flex-middle div-table" style="margin-top: 0px;">
                    <div class="uk-width-1-10" style="padding-left: 10px;">
                      <a href="#" ng-click="ordersearchrecall.selectOrder(order)">{{order.orderNumber}}</a>
                    </div>
                    <div class="uk-width-2-10" style="padding-left: 15px;" ng-if="ordersearchrecall.showDocumentType">
                      {{order.patient.documentType.name.toUpperCase()}}</div>
                    <div class="uk-width-2-10" style="padding-left: 15px;">{{order.patient.patientId}}</div>
                    <div style="padding-left: 20px;"
                      ng-class="{'uk-width-2-10' : ordersearchrecall.showDocumentType,'uk-width-4-10' : !ordersearchrecall.showDocumentType}">
                      {{order.patient.lastName.toUpperCase() + ' ' + (order.patient.surName === null ||
                      order.patient.surName === '' ? '' : order.patient.surName.toUpperCase()
                      + ' ') + order.patient.name1.toUpperCase() + ' ' + ((order.patient.name1 === null ||
                      order.patient.name2 === '' ? '' : order.patient.name2.toUpperCase()))
                      }}
                    </div>
                    <div style="padding-left: 23px;" class="uk-width-2-10">{{order.patient.birthdaytext}}</div>
                    <div style="padding-left: 27px;" class="uk-width-1-10">{{order.patient.sextext}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>