<div class="md-input-wrapper">
  <label>{{'0110' | translate}} {{ ordersample.sampletab}} {{'0111' | translate}}</label>
  <input id="verification" type="text"
    class="md-input label-fixed ng-isolate-scope md-input-processed" autocomplete="off"
    ng-class="{'md-input-danger':ordersample.classdanger}" ng-style="{'font-size' :
                                        ordersample.styleButton === '' ? '30px':  ordersample.styleButton }"
    ng-style="ordersample.styleButton" ng-model="ordersample.entry" ng-keypress="ordersample.keyselect($event)"
    ng-disabled="ordersample.disabled" md-input="">

    <!-- <input id="verification" oncopy="return false" onpaste="return false" type="text"
    class="md-input label-fixed ng-isolate-scope md-input-processed" autocomplete="off"
    ng-class="{'md-input-danger':ordersample.classdanger}" ng-style="{'font-size' :
                                        ordersample.styleButton === '' ? '30px':  ordersample.styleButton }"
    ng-style="ordersample.styleButton" ng-model="ordersample.entry" ng-keypress="ordersample.keyselect($event)"
    ng-disabled="ordersample.disabled" md-input=""> -->
  <span class="md-input-bar "></span>
</div>