<style>
    .patient-header-avatar {
        margin-top: 10px !important;
        width: 60px !important;
        height: 60px !important;
    }

    .patient-header-text {
        padding-bottom: 0px !important;
    }

    .patient-md-card {
        height: 120px !important;
    }

    .patient-card-content {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        overflow-y: auto !important;
    }

    .patient-addon-element {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        min-height: 40px;
        height: 40px !important;
    }

    .patient-list-content {
        font-size: 12px !important;
    }

    .patient-demo-item {
        padding-top: 0px !important;
        padding-bottom: 0px !important;

        margin-bottom: {
                {
                patient.height_line
            }
        }

        ;
    }

    .md-list>li {
        min-height: 0px !important;
    }

    .patient-demographic-text {
        text-transform: capitalize !important;
    }
</style>
<modalexceptions openmodal="patient.ShowPopupError" detailerror="patient.Error"></modalexceptions>
<div class="md-card md-card-hover uk-animation-fade" style="height: 100%">
    <div class="md-card-head md-bg-light-blue-600 patient-md-card">
        <div class="uk-text-center">
            <img class="md-card-head-avatar patient-header-avatar" src="{{patient.patientdata.photo}}" alt=""
                ng-if="patient.patientdata.photo !== '' && patient.patientdata.photo !== undefined">
            <img class="md-card-head-avatar patient-header-avatar" src="images/user1.png" alt=""
                ng-if="patient.patientdata.photo === '' || patient.patientdata.photo === undefined">
        </div>
        <h3 class="md-card-head-text uk-text-center md-color-white patient-header-text" style="font: 500 13px / 13px 'Roboto', sans-serif; padding: 8px 5px 5px;">
            {{patient.patientdata.completeName | uppercase}}
            <span>
                <b>{{patient.patientdata.documentType + ". " + patient.patientdata.patientId}}</b>
            </span>
        </h3>
    </div>
    <div class="md-card-content patient-card-content contentscroll" style="height: calc(100% - 130px)">
        <ul class="md-list md-list-addon">
            <li class="patient-demo-item">
                <div class="md-list-addon-element patient-addon-element">
                    <img class="md-list-addon-icon material-icons md-22" ng-src="images/patient/genders.png" />
                </div>
                <div class="md-list-content patient-list-content">
                    <span class="uk-text-small uk-text-muted patient-list-content">{{'0426' | translate}}</span>
                    <span class="md-list-heading" ng-class="{'md-color-grey-50' : patient.patientdata.sex===undefined}">
                        {{patient.patientdata.sex===undefined ? '.': patient.patientdata.sex}}
                    </span>
                </div>
            </li>
            <li class="patient-demo-item">
                <div class="md-list-addon-element patient-addon-element">
                    <img class="md-list-addon-icon material-icons md-22" ng-src="images/patient/calendar.png" />
                </div>
                <div class="md-list-content patient-list-content">
                    <span class="uk-text-small uk-text-muted patient-list-content">{{'0120' | translate}}</span>
                    <span class="md-list-heading"
                        ng-class="{'md-color-grey-50' : patient.patientdata.birthday===undefined}">
                        {{patient.patientdata.birthday ===undefined ? '.': patient.patientdata.birthday}}
                    </span>
                </div>
            </li>
            <li class="patient-demo-item">
                <div class="md-list-addon-element patient-addon-element">
                    <img class="md-list-addon-icon material-icons md-22" ng-src="images/patient/age.png" />
                </div>
                <div class="md-list-content patient-list-content">
                    <span class="uk-text-small uk-text-muted patient-list-content">{{'0102' | translate}}</span>
                    <span class="md-list-heading" ng-class="{'md-color-grey-50' : patient.patientdata.age===undefined}">
                        {{patient.patientdata.age===undefined ? '.': patient.patientdata.age}}
                    </span>
                </div>
            </li>
            <li class="patient-demo-item">
                <div class="md-list-addon-element patient-addon-element">
                    <img class="md-list-addon-icon material-icons md-22" ng-src="images/patient/email.png" />
                </div>
                <div class="md-list-content patient-list-content">
                    <span class="uk-text-small uk-text-muted patient-list-content">{{'0135' | translate}}</span>
                    <span class="md-list-heading" style="word-break: break-all;"
                        ng-class="{'md-color-grey-50' : patient.patientdata.email===undefined}">
                        {{patient.patientdata.email===undefined ? '.': patient.patientdata.email}}
                    </span>
                </div>
            </li>
            <li class="patient-demo-item">
                <div class="md-list-addon-element patient-addon-element">
                    <img class="md-list-addon-icon material-icons md-22" ng-src="images/patient/phone.png" />
                </div>
                <div class="md-list-content patient-list-content">
                    <span class="uk-text-small uk-text-muted patient-list-content">{{'0188' | translate}}</span>
                    <span class="md-list-heading"
                        ng-class="{'md-color-grey-50' : patient.patientdata.phone===undefined}">
                        {{patient.patientdata.phone===undefined ? '.': patient.patientdata.phone}}
                    </span>
                </div>
            </li>
            <li class="patient-demo-item">
                <div class="md-list-addon-element patient-addon-element">
                    <i class="md-list-addon-icon material-icons uk-text-success">&#xE55F;</i>
                </div>
                <div class="md-list-content patient-list-content">
                    <span class="uk-text-small uk-text-muted patient-list-content">{{'0187' | translate}}</span>
                    <span class="md-list-heading"
                        ng-class="{'md-color-grey-50' : patient.patientdata.address===undefined}">
                        {{patient.patientdata.address===undefined ? '.': patient.patientdata.address}}
                    </span>
                </div>
            </li>
            <li class="patient-demo-item" ng-if="patient.managesize">
                <div class="md-list-addon-element patient-addon-element">
                    <img class="md-list-addon-icon material-icons md-22" ng-src="images/patient/demo.png" />
                </div>
                <div class="md-list-content patient-list-content">
                    <span class="uk-text-small uk-text-muted patient-list-content">{{'0239' | translate}}</span>
                    <span class="md-list-heading"
                        ng-class="{'md-color-grey-50' : patient.patientdata.size===undefined}">
                        {{patient.patientdata.size===undefined ? '.': patient.patientdata.size}}
                    </span>
                </div>
            </li>
            <li class="patient-demo-item" ng-if="patient.manageweight">
                <div class="md-list-addon-element patient-addon-element">
                    <img class="md-list-addon-icon material-icons md-22" ng-src="images/patient/demo.png" />
                </div>
                <div class="md-list-content patient-list-content">
                    <span class="uk-text-small uk-text-muted patient-list-content">{{'0238' | translate}}</span>
                    <span class="md-list-heading"
                        ng-class="{'md-color-grey-50' : patient.patientdata.weight===undefined}">
                        {{patient.patientdata.weight===undefined ? '.': patient.patientdata.weight}}
                    </span>
                </div>
            </li>
            <li class="patient-demo-item" ng-repeat="demo in patient.patientdata.demographics">
                <div class="md-list-addon-element patient-addon-element">
                    <img class="md-list-addon-icon material-icons md-22" ng-src="images/patient/demo.png" />
                </div>
                <div class="md-list-content patient-list-content">
                    <span class="uk-text-small uk-text-muted patient-list-content">{{demo.demographic}}</span>
                    <span class="md-list-heading">
                        {{demo.value === undefined || demo.value === null || demo.value === '' ? 'No registrado' :
                        demo.value}}
                    </span>
                </div>
            </li>
        </ul>
    </div>
</div>
