<modalerror openerrormodal="vm.ShowPopupError" detailerror="vm.Error"></modalerror>
<loadpage view="vm.loadingdata"></loadpage>
<modalreport openmodal="vm.open"></modalreport>
<section class="general-container">
  <div class="row general-container">
    <div class="panel panel-primary panel-principal">
      <div class="panel-heading row">
        <div class=" col-md-8 panel-title">
          <strong class="panel-title text-left title-bar">
            {{'0869' | translate |uppercase}}
          </strong>
        </div>
        <div class=" col-md-4 text-right" style="padding-top: 5px">
          <strong ng-bind="vm.usuario"></strong>
          <span class="question-style glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="bottom"
            title="Ctrl + B"
            onclick="javascript:window.open('/enterprise_nt_help/index.htm?page=enterprise_nt/configuration/antibioticreferencevalues/antibioticreferencevalues.htm','','width=1100,height=600,left=50,top=50,toolbar=yes');"></span>
        </div>
      </div>
      <div class="panel-body general-container panel-padding panel-scroll contentscroll">
        <div class="col-md-7 panel-padding" style="height: 100%">
          <div class="panel-list">
            <div class="panel panel-primary general-container">
              <div class="panel-body general-container">
                <div>
                  <div class="input-group right-bar">
                    <input data-ng-model="vm.search" class="form-control" type="text"
                      placeholder="{{'0015' | translate}}">
                    <div class="input-group-addon">
                      <i class="glyphicon glyphicon-search"></i>
                    </div>
                  </div>
                  <div class="number-bage">
                    <span style="margin-top:10px" class="badge" data-ng-bind="vm.filtered.length"></span>
                  </div>
                </div>
                <table class="table table-list">
                  <thead>
                    <tr>
                      <th class="col-md-2">
                        <a
                          ng-click="$event.stopPropagation(); vm.sortType =  vm.namemethod; vm.sortReverse = !vm.sortReverse; $event.stopPropagation() ">
                          <i ng-if="!vm.sortReverse && vm.sortType != vm.namemethod"
                            class="glyphicon glyphicon-sort-by-alphabet"></i>
                          <i ng-if="vm.sortReverse && vm.sortType != vm.namemethod"
                            class="glyphicon glyphicon-sort-by-alphabet-alt"></i>
                          <i ng-if="vm.sortType == vm.namemethod && !vm.sortReverse "
                            class="glyphicon glyphicon-triangle-bottom"></i>
                          <i ng-if="vm.sortType == vm.namemethod && vm.sortReverse"
                            class="glyphicon glyphicon-triangle-top"></i>
                          <span ng-show="vm.sortType == vm.namemethod && !vm.sortReverse"></span>
                          <span ng-show="vm.sortType == vm.namemethod && vm.sortReverse"></span>
                        </a>{{'0870' | translate}}
                      </th>
                      <th class="col-md-3">
                        <a
                          ng-click="$event.stopPropagation(); vm.sortType =  vm.namemicroorganism; vm.sortReverse = !vm.sortReverse; $event.stopPropagation() ">
                          <i ng-if="!vm.sortReverse && vm.sortType != vm.namemicroorganism"
                            class="glyphicon glyphicon-sort-by-alphabet"></i>
                          <i ng-if="vm.sortReverse && vm.sortType != vm.namemicroorganism"
                            class="glyphicon glyphicon-sort-by-alphabet-alt"></i>
                          <i ng-if="vm.sortType == vm.namemicroorganism && !vm.sortReverse "
                            class="glyphicon glyphicon-triangle-bottom"></i>
                          <i ng-if="vm.sortType == vm.namemicroorganism && vm.sortReverse"
                            class="glyphicon glyphicon-triangle-top"></i>
                          <span ng-show="vm.sortType == vm.namemicroorganism && !vm.sortReverse"></span>
                          <span ng-show="vm.sortType == vm.namemicroorganism && vm.sortReverse"></span>
                        </a> {{'0314' | translate}}
                      </th>
                      <th class="col-md-3">
                        <a
                          ng-click="$event.stopPropagation(); vm.sortType =  vm.nameantibiotic; vm.sortReverse = !vm.sortReverse; $event.stopPropagation() ">
                          <i ng-if="!vm.sortReverse && vm.sortType != vm.nameantibiotic"
                            class="glyphicon glyphicon-sort-by-alphabet"></i>
                          <i ng-if="vm.sortReverse && vm.sortType != vm.nameantibiotic"
                            class="glyphicon glyphicon-sort-by-alphabet-alt"></i>
                          <i ng-if="vm.sortType == vm.nameantibiotic && !vm.sortReverse "
                            class="glyphicon glyphicon-triangle-bottom"></i>
                          <i ng-if="vm.sortType == vm.nameantibiotic && vm.sortReverse"
                            class="glyphicon glyphicon-triangle-top"></i>
                          <span ng-show="vm.sortType == vm.nameantibiotic && !vm.sortReverse"></span>
                          <span ng-show="vm.sortType == vm.nameantibiotic && vm.sortReverse"></span>
                        </a> {{'0313' | translate}}
                      </th>
                      <th class="col-md-4">
                        {{'0480' | translate}}
                      </th>
                    </tr>
                  </thead>
                  <tbody class="tbody-list contentscroll" style="width: 96.5%;">
                    <tr class="row-list"
                      data-ng-repeat="Antibiotic in vm.filtered = ((vm.data | filter: vm.search )| orderBy:vm.sortType:vm.sortReverse)"
                      data-ng-click="vm.getId($index,Form,Antibiotic)"
                      ng-class="{info: $index == vm.selected, danger: Antibiotic.state == 0 }">
                      <td class="col-md-2" data-ng-bind="Antibiotic.namemethod"></td>
                      <td class="col-md-3" data-ng-bind="Antibiotic.namemicroorganism"></td>
                      <td class="col-md-3" data-ng-bind="Antibiotic.nameantibiotic"></td>
                      <td class="col-md-3">
                        <img ng-if="Antibiotic.interpretation == 1" src="images/letter-s.png">
                        <img ng-if="Antibiotic.interpretation == 2" src="images/letter-i.png">
                        <img ng-if="Antibiotic.interpretation == 3" src="images/letter-r.png">
                        {{Antibiotic.valuereferencia}}
                      </td>
                      <td class="col-md-1">
                        <i class="fa fa-times-circle red" data-ng-click="vm.destroy(Form,Antibiotic)"
                          style="font-size: 19px;"></i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5 panel-padding" style="height: 100%">
          <div class="panel-list">
            <div class="panel panel-primary general-container">
              <div class="panel-body panel-form contentscroll" style="overflow:auto">
                <form name="Form" id="Form" class="form-horizontal panel-body">
                  <div class="form-group form-group-sm has-feedback"
                    ng-class="{'has-error': Form.method.$invalid && Form.method.$touched}">
                    <label class="col-md-3 text-right">{{'0870' | translate}}:</label>
                    <div class="col-md-9">
                      <select charset="utf-8" name="method" id="method"
                        ng-options="obj.id as obj.name for obj in vm.method" data-ng-model="vm.Detail.method.id"
                        class="form-control" ng-required="true"
                        ng-disabled="vm.isDisabled || vm.Detail.id === undefined"></select>
                      <span ng-if="Form.method.$invalid && Form.method.$touched"
                        class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                    </div>
                  </div>
                  <div class="form-group form-group-sm has-feedback"
                    ng-class="{'has-error': Form.method.$invalid && Form.method.$touched}">
                    <label class="col-md-3 text-right">{{'0314' | translate}}:</label>
                    <div class="col-md-9" ng-if="vm.list.length===0">
                      <input class="form-control" data-ng-model="code" ng-disabled="true" type="text">
                    </div>
                    <div class="col-md-9" ng-if="vm.list.length!==0">
                      <ui-select ng-model="vm.Detail.microorganism.selected"
                        ng-disabled="vm.isDisabled || vm.Detail.id === undefined" theme="select2" style="width: 100%;">
                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices
                          repeat="item in vm.datamicroorganism| filter: {name:$select.search} || orderBy:'name'"
                          refresh="vm.fetch($select)" refresh-delay="300" position="down">
                          <small ng-bind-html="item.name | highlight: $select.search"></small>
                          <div
                            ng-if="$index == $select.items.length-1 && vm.datamicroorganism.length > 49 && vm.limit !== vm.listlength">
                            <button class="btn btn-xs btn-success" style="width: 100%; margin-top: 5px;"
                              ng-click="vm.fetch($select, $event);" ng-disabled="loading">
                              {{'0880' | translate}}
                            </button>
                          </div>
                        </ui-select-choices>
                      </ui-select>
                    </div>
                  </div>
                  <div class="form-group form-group-sm has-feedback"
                    ng-class="{'has-error': Form.method.$invalid && Form.method.$touched}">
                    <label class="col-md-3 text-right">{{'0313' | translate}}:</label>
                    <div class="col-md-9" ng-if="vm.list.length===0">
                      <input class="form-control" data-ng-model="code" ng-disabled="true" type="text">
                    </div>
                    <div class="col-md-9" ng-if="vm.list1.length!==0">
                      <ui-select ng-model="vm.Detail.antibiotic.selected"
                        ng-disabled="vm.isDisabled || vm.Detail.id === undefined" theme="select2" style="width: 100%;">
                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices
                          repeat="item in vm.dataantibiotic| filter: {name:$select.search} || orderBy:'name'"
                          refresh="vm.fetchantibiotic($select)" refresh-delay="300" position="down">
                          <small ng-bind-html="item.name | highlight: $select.search"></small>
                          <div
                            ng-if="$index == $select.items.length-1 && vm.dataantibiotic.length > 49 && vm.limit1 !== vm.list1length">
                            <button class="btn btn-xs btn-success" style="width: 100%; margin-top: 5px;"
                              ng-click="vm.fetchantibiotic($select, $event);" ng-disabled="loading">
                              {{'0880' | translate}}
                            </button>
                          </div>
                        </ui-select-choices>
                      </ui-select>
                    </div>
                  </div>
                  <div class="form-group form-group-sm has-feedback"
                    ng-class="{'has-error': Form.interpretation.$invalid && Form.interpretation.$touched }">
                    <label class="col-md-3 text-right">{{'0871' | translate}}:</label>
                    <div class="col-md-9">
                      <select charset="utf-8" ng-options="obj.id as obj.name for obj in vm.interpretation"
                        data-ng-model="vm.Detail.interpretation.id" class="form-control" ng-required="true"
                        name="interpretation" id="interpretation"
                        ng-disabled="vm.isDisabled || vm.Detail.id === undefined"></select>
                      <span ng-if="Form.interpretation.$invalid && Form.interpretation.$touched"
                        class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                    </div>
                  </div>

                  <div class="form-group form-group-sm has-feedback"
                    ng-class="{'has-error': Form.operation.$invalid && Form.operation.$touched }">
                    <label class="col-md-3 text-right">{{'0872' | translate}}:</label>
                    <div class="col-md-9">
                      <select ng-options="obj as obj.name for obj in vm.Listoperation track by obj.id"
                        data-ng-model="vm.Detail.operation" class="form-control" ng-required="true" name="operation"
                        id="operation" ng-disabled="vm.isDisabled"
                        ng-change="vm.Detail.valueMin=null;vm.Detail.valueMax=null"></select>
                      <span ng-if="Form.operation.$invalid && Form.operation.$touched"
                        class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                    </div>
                  </div>
                  <div class="form-group form-group-sm">
                    <label class="col-md-3 text-right">{{'0480' | translate}}:</label>
                    <div class="col-md-9"
                      ng-class="{'has-error':vm.Detail.valueMin=='','col-md-4':vm.Detail.operation.id ==56}">
                      <number-input ng-model="vm.Detail.valueMin" max="9999999" min="1" step=" vm.stepdecimal"
                        isabledecimal="false" decimalplaces="vm.decimal" disable="vm.isDisabled" acceptclean="true">
                      </number-input>
                      <span ng-if="vm.Detail.valueMin==''" class="help-block ">{{'0016' | translate}}</span>
                    </div>
                    <label class="col-md-1 text-center"
                      ng-hide="vm.Detail.operation.id !=56">{{'0878' | translate}}</label>
                    <div class="col-md-4" ng-hide="vm.Detail.operation.id != 56"
                      ng-class="{'has-error':vm.Detail.operation.id===56 && vm.Detail.valueMin >= vm.Detail.valueMax  && !(vm.Detail.operation.id===56 && vm.Detail.valueMax==null) || vm.Detail.operation.id===56 && vm.Detail.valueMax==''}">
                      <number-input ng-model="vm.Detail.valueMax" max="9999999" min="1" step=" vm.stepdecimal"
                        isabledecimal="false" decimalplaces="vm.decimal" acceptclean="true" disable="vm.isDisabled">
                      </number-input>
                      <span
                        ng-if="vm.Detail.operation.id===56 && vm.Detail.valueMin >= vm.Detail.valueMax  && !(vm.Detail.operation.id===56 && vm.Detail.valueMax==null) || vm.Detail.operation.id===56 && vm.Detail.valueMax==''"
                        class="help-block ">{{'0573' | translate}}</span>
                    </div>
                  </div>
                </form>
                <modalstate openstatemodal="vm.ShowPopupState" detailstate="vm.Detail.state">
                </modalstate>
              </div>
              <div class="panel-footer">
                <div class="container" style="width: 100%">
                  <button type="button" class=" btn btn-success button-list" ng-click="vm.New(Form)"
                    ng-disabled="vm.isDisabledAdd">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    {{'0005' | translate}}
                  </button>
                  <button type="button" class="btn btn-warning button-list" ng-click="vm.Edit()"
                    ng-disabled="vm.isDisabledEdit">
                    <span class=" glyphicon glyphicon-pencil" aria-hidden="true"></span>{{'0006' | translate}}
                  </button>
                  <button type="button" class="btn btn-primary button-list" ng-click="vm.save(Form)"
                    ng-disabled="!Form.$valid || vm.isDisabledSave||vm.Detail.microorganism.selected.id==0||vm.Detail.antibiotic.selected.id==0||vm.Detail.operation.id==0||vm.Detail.valueMin==''||vm.Detail.valueMin==undefined || (vm.Detail.operation.id===56 && vm.Detail.valueMax==null)|| (vm.Detail.operation.id===56 && vm.Detail.valueMax=='')|| (vm.Detail.operation.id===56 && vm.Detail.valueMax < vm.Detail.valueMin)">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>{{'0007' | translate}}
                  </button>
                  <button type="button" class="btn btn-info button-list" ng-click="vm.cancel(Form)"
                    ng-disabled="vm.isDisabledCancel">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>{{'0008' | translate}}
                  </button>
                  <button class="btn btn-violet button-list" ng-click="vm.generateFile()"
                    ng-disabled="vm.isDisabledPrint" type="button">
                    <span aria-hidden="true" class="glyphicon glyphicon-print"></span>{{'0009' | translate}}
                  </button>
                  <!-- <reportview openmodal="vm.ShowPopupReport" pathreport="vm.pathreport" listreport="vm.listreport" labelsreport="vm.labelsreport" ng-click="vm.generateFile()" disabled="vm.isDisabledPrint"></reportview> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="text/ng-template" id="delete.html">
  <div class="modal fade" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-3">
                            <img class="img-responsive" src="images/iconinfo.png" width="115" height="115">
                        </div>
                        <div class="col-md-9">
                            <label class="modal-label">{{'0602' | translate}}</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">{{'0032' | translate}}</button>
                    <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">{{'0033' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="duplicate.html">
  <div class="modal fade" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-3">
                            <img class="img-responsive" src="images/iconinfo.png" width="115" height="115">
                        </div>
                        <div class="col-md-9">
                            <label class="modal-label">{{'0881' | translate}}</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">{{'0031' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="requeridvaluereferencie.html">
  <div class="modal fade" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header modal-header-prymary">
                    <h4 class="modal-title" align="justify">
                        {{'0171' | translate}}
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="col-md-2"
                                 ng-class="{'col-md-offset-2':antibiotichide > 0 || microorganismhide > 0}"></div>
                            <div class="col-md-4" ng-hide="antibiotichide > 0">
                                <a ng-click="close('antibiotic')" class="thumbnail" data-dismiss="modal">
                                    <img src="images/Antibiotic.png">
                                    <h6 class="text-center"> {{'0313' | translate}}</h6>
                                </a>
                            </div>
                            <div class="col-md-4" ng-hide="microorganismhide > 0">
                                <a ng-click="close('microorganism')" class="thumbnail" data-dismiss="modal">
                                    <img src="images/microorganis.png">
                                    <h6 class="text-center"> {{'0314' | translate}}</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
