<loadpage view="vm.loadingdata">
</loadpage>
<modalreport openmodal="vm.open">
</modalreport>
<modalerror detailerror="vm.Error" openerrormodal="vm.ShowPopupError">
</modalerror>

<style type="text/css">
  legend {
    padding: 5px;
  }

  legend>input {
    font-size: 12px !important;
    height: 28px !important
  }

  fieldset {
    background: #FAFAFA;
    border: 1px solid #d6d3d6;
    padding: 0 6px 0 6px;
    border-radius: 5px;
  }

</style>
<section class="general-container">
  <div class="row general-container">
    <div class="panel panel-primary panel-principal">
      <div class="panel-heading row">
        <div class=" col-md-4 panel-title">
          <strong class="panel-title text-left title-bar">
            {{'0988' | translate |uppercase}}
          </strong>
        </div>
        <div class=" col-md-8 text-right" style="padding-top: 5px">
          <strong ng-bind="vm.usuario">
          </strong>
          <span class="question-style glyphicon glyphicon-question-sign" data-placement="bottom" data-toggle="tooltip"
            onclick="javascript:window.open('/enterprise_nt_help/index.htm?page=enterprise_nt/configuration/groupingorders/groupingorders.htm','','width=1100,height=600,left=50,top=50,toolbar=yes');"
            title="Ctrl + B">
          </span>
        </div>
      </div>
      <div class="panel-body general-container panel-padding panel-scroll">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 panel-padding" style="height: 100%; width: 22%">
          <div class="panel-list">
            <div class="panel panel-primary general-container">
              <div class="panel-body general-container" style="padding-right: 8px; padding-left: 8px">
                <label class="text-left col-md-12 panel-padding" style="padding-right: 3px">
                  {{vm.subTitle}}:
                </label>
                <hr>
                <div>
                  <div class="input-group right-bar">
                    <input class="form-control" data-ng-model="vm.search" placeholder="{{'0015' | translate}}"
                      type="text">
                    <div class="input-group-addon">
                      <i class="glyphicon glyphicon-search">
                      </i>
                    </div>
                    </input>
                  </div>
                  <div class="number-bage">
                    <span class="badge" data-ng-bind="vm.filtered.length" style="margin-top:10px">
                    </span>
                  </div>
                </div>
                <div class="containerlistGroupingOrders" style="height: calc(100% - 72px);">
                  <div class="containerGroupingOrders list" ng-model="vm.data" ui-sortable="vm.sortableOptions1">
                    <div class="itemGroupingOrders panel-padding"
                      ng-repeat="GroupingOrders in vm.filtered = (vm.data | filter: vm.search) ">
                      <span>
                        {{GroupingOrders.code}} - {{GroupingOrders.name}}
                      </span>
                      <div style="float: right;">
                        <i ng-if="vm.keyGroupingOrders === '1'" class="Square-color"
                          ng-style="{'background': GroupingOrders.color}">
                        </i>
                        <i ng-if="vm.keyGroupingOrders === '2'" class="Square-color-service"
                          ng-class="{'Square-color-service-E': GroupingOrders.external, 'Square-color-service-I': !GroupingOrders.external}">
                          <!-- ng-style="{'background': GroupingOrders.external ? '#229922' : '#222299'}" >{{GroupingOrders.external ? 'E' : 'I'}} -->
                        </i>
                      </div>
                    </div>
                  </div>
                </div>
                </hr>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 panel-padding" style="height: 100%; width: 78%">
          <div class="panel-list">
            <div class="panel panel-primary general-container">
              <div class="panel-body "
                style="overflow:auto; height: calc(100% - 50px); padding-top: 0px; padding-left: 9px; padding-right: 9px; padding-bottom: 9px">
                <div class="containerGeneralGroupingOrdersAssing" style="height: 100%; width: 20%">
                  <fieldset style="height: 100%; width: 100%">
                    <legend>
                      <input class="form-control" data-ng-model="vm.columnName1" id="code" maxlength="24" name="code"
                        ng-disabled="vm.data1.length === 0" type="text" placeholder="{{'0802' | translate}} 1"
                        ng-change="vm.changeTitle()">
                    </legend>
                    <form style="height: 92%;">
                      <div class="containerGroupingOrders containerGroupingOrdersAssing containerNotBorder"
                        ng-model="vm.data1" ui-sortable="vm.sortableOptions2">
                        <div class="itemGroupingOrdersAssing" ng-repeat="app in vm.data1">
                          <span>
                            {{app.order = $index + 1}}. {{app.code}} - {{app.name}}
                          </span>
                          <div style="float: right;">
                            <i ng-if="vm.keyGroupingOrders === '1'" class="Square-color"
                              ng-style="{'background': app.color}">
                            </i>
                            <i ng-if="vm.keyGroupingOrders === '2'" class="Square-color-service"
                              ng-class="{'Square-color-service-E': app.external, 'Square-color-service-I': !app.external}">
                            </i>
                          </div>
                        </div>
                      </div>
                    </form>
                  </fieldset>
                </div>
                <div class="containerGeneralGroupingOrdersAssing" style="height: 100%; width: 20%">
                  <fieldset style="height: 100%; width: 100%">
                    <legend>
                      <input class="form-control" data-ng-model="vm.columnName2" id="code" maxlength="24" name="code"
                        ng-disabled="vm.data2.length === 0" type="text" placeholder="{{'0802' | translate}} 2"
                        ng-change="vm.changeTitle()">
                    </legend>
                    <form style="height: 92%;">
                      <div class="containerGroupingOrders containerGroupingOrdersAssing containerNotBorder"
                        ng-model="vm.data2" ui-sortable="vm.sortableOptions2">
                        <div class="itemGroupingOrdersAssing" ng-repeat="app in vm.data2">
                          <span>
                            {{app.order = $index + 1}}. {{app.code}} - {{app.name}}
                          </span>
                          <div style="float: right;">
                            <i ng-if="vm.keyGroupingOrders === '1'" class="Square-color"
                              ng-style="{'background': app.color}">
                            </i>
                            <i ng-if="vm.keyGroupingOrders === '2'" class="Square-color-service"
                              ng-class="{'Square-color-service-E': app.external, 'Square-color-service-I': !app.external}">
                            </i>
                          </div>
                        </div>
                      </div>
                    </form>
                  </fieldset>
                </div>
                <div class="containerGeneralGroupingOrdersAssing" style="height: 100%; width: 20%">
                  <fieldset style="height: 100%">
                    <legend>
                      <input class="form-control" data-ng-model="vm.columnName3" id="code" maxlength="24" name="code"
                        ng-disabled="vm.data3.length === 0" type="text" placeholder="{{'0802' | translate}} 3"
                        ng-change="vm.changeTitle()">
                    </legend>
                    <form style="height: 92%;">
                      <div class="containerGroupingOrders containerGroupingOrdersAssing containerNotBorder"
                        ng-model="vm.data3" ui-sortable="vm.sortableOptions2">
                        <div class="itemGroupingOrdersAssing" ng-repeat="app in vm.data3">
                          <span>
                            {{app.order = $index + 1}}. {{app.code}} - {{app.name}}
                          </span>
                          <div style="float: right;">
                            <i ng-if="vm.keyGroupingOrders === '1'" class="Square-color"
                              ng-style="{'background': app.color}">
                            </i>
                            <i ng-if="vm.keyGroupingOrders === '2'" class="Square-color-service"
                              ng-class="{'Square-color-service-E': app.external, 'Square-color-service-I': !app.external}">
                            </i>
                          </div>
                        </div>
                      </div>
                    </form>
                  </fieldset>
                </div>
                <div class="containerGeneralGroupingOrdersAssing " style="height: 100%; width: 20%">
                  <fieldset style="height: 100%">
                    <legend>
                      <input class="form-control" data-ng-model="vm.columnName4" id="code" maxlength="24" name="code"
                        ng-disabled="vm.data4.length === 0" type="text" placeholder="{{'0802' | translate}} 4"
                        ng-change="vm.changeTitle()">
                    </legend>
                    <form style="height: 92%;">
                      <div class="containerGroupingOrders containerGroupingOrdersAssing containerNotBorder "
                        ng-model="vm.data4" ui-sortable="vm.sortableOptions2">
                        <div class="itemGroupingOrdersAssing" ng-repeat="app in vm.data4">
                          <span>
                            {{app.order = $index + 1 }}. {{app.code}} - {{app.name}}
                          </span>
                          <div style="float: right;">
                            <i ng-if="vm.keyGroupingOrders === '1'" class="Square-color"
                              ng-style="{'background': app.color}">
                            </i>
                            <i ng-if="vm.keyGroupingOrders === '2'" class="Square-color-service"
                              ng-class="{'Square-color-service-E': app.external, 'Square-color-service-I': !app.external}">
                            </i>
                          </div>
                        </div>
                      </div>
                    </form>
                  </fieldset>
                </div>
                <div class="containerGeneralGroupingOrdersAssing " style="height: 100%; width: 20%">
                  <fieldset style="height: 100%">
                    <legend>
                      <input class="form-control" data-ng-model="vm.columnName5" id="code" maxlength="24" name="code"
                        ng-disabled="vm.data5.length === 0" type="text" placeholder="{{'0802' | translate}} 5"
                        ng-change="vm.changeTitle()">
                    </legend>
                    <form style="height: 92%;">
                      <div class="containerGroupingOrders containerGroupingOrdersAssing containerNotBorder"
                        ng-model="vm.data5" ui-sortable="vm.sortableOptions2">
                        <div class="itemGroupingOrdersAssing" ng-repeat="app in vm.data5">
                          <span>
                            {{app.order = $index + 1}}. {{app.code}} - {{app.name}}
                          </span>
                          <div style="float: right;">
                            <i ng-if="vm.keyGroupingOrders === '1'" class="Square-color"
                              ng-style="{'background': app.color}">
                            </i>
                            <i ng-if="vm.keyGroupingOrders === '2'" class="Square-color-service"
                              ng-class="{'Square-color-service-E': app.external, 'Square-color-service-I': !app.external}">
                            </i>
                          </div>
                        </div>
                      </div>
                    </form>
                  </fieldset>
                </div>
              </div>
              <div class="panel-footer">
                <div class="container" style="width: 100%">
                  <button class=" btn btn-success button-list" ng-disabled="true" type="button">
                    <span aria-hidden="true" class="glyphicon glyphicon-plus">
                    </span>
                    {{'0005' | translate}}
                  </button>
                  <button class="btn btn-warning button-list" ng-disabled="true" type="button">
                    <span aria-hidden="true" class=" glyphicon glyphicon-pencil">
                    </span>
                    {{'0006' | translate}}
                  </button>
                  <button class="btn btn-primary button-list" ng-click="vm.save(Form)"
                    ng-disabled="vm.data.length > 0 || vm.isDisabledSave " type="button">
                    <span aria-hidden="true" class="glyphicon glyphicon-floppy-disk">
                    </span>
                    {{'0007' | translate}}
                  </button>
                  <button class="btn btn-info button-list" ng-click="vm.getConfigurationKey()"
                    ng-disabled="(vm.data1.length === 0 && vm.data2.length === 0 && vm.data3.length === 0 && vm.data4.length === 0  && vm.data5.length === 0) || vm.isDisabledCancel"
                    type="button">
                    <span aria-hidden="true" class="glyphicon glyphicon-remove">
                    </span>
                    {{'0008' | translate}}
                  </button>
                  <button class="btn btn-violet button-list" ng-click="vm.generateFile()" ng-disabled="true"
                    type="button">
                    <span aria-hidden="true" class="glyphicon glyphicon-print">
                    </span>
                    {{'0009' | translate}}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script id="validSave.html" type="text/ng-template">
  <div class="modal fade">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-3" style=" padding-right: 0px;padding-left: 8px">
                            <img class="img-responsive" src="images/iconinfo.png" width="80" height="80">
                        </div>
                        <div class="col-md-8 " style=" padding-right:1px; padding-left: 11px; margin-right: 7px;">
                            <h5>{{'0644' | translate}}</h5>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</script>
<script id="Requerido.html" type="text/ng-template">
  <div class="modal fade" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header modal-header-prymary">
                    <h4 class="modal-title" align="justify">
                        {{'0171' | translate}}
                    </h4>
                </div>
                <div class="row modal-body">
                    <div class="row row-center col-md-12">
                        <div class="col-md-4" ng-show="hidelist === 0 && keygroupingorders === '1'">
                            <a ng-click="close('ordertype')" class="thumbnail" data-dismiss="modal">
                                <img src="images/ordertype.png">
                                <h6 class="text-center"> {{'0133' | translate}}</h6>
                            </a>
                        </div>
                        <div class="col-md-4" ng-show="hidelist === 0 && keygroupingorders === '2'">
                            <a ng-click="close('service')" class="thumbnail" data-dismiss="modal">
                                <img src="images/Mod32.png">
                                <h6 class="text-center"> {{'0175' | translate}}</h6>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
