<div id="seccioncaducado" class="uk-modal" aria-hidden="true" style="display: none; overflow-y: scroll;">
    <div class="uk-modal-dialog">
        <div class="uk-modal-header md-bg-blue-600" style="border-bottom: 0px;">
            <h3 class="uk-modal-title">{{'1089' | translate}}</h3>
        </div>
        <div class="uk-form-row">
            <div class="uk-grid">
                <div class="uk-width-1-5 uk-flex uk-flex-center">
                    <img class="img-responsive" src="images/Seguridad.png" width="115" height="115">    
                </div>
                <div class="uk-width-4-5 uk-flex uk-flex-middle">
                    <span>{{'1088' | translate}}</span>
                </div>
           </div>
        </div>
        <div class="uk-overflow-container" style="margin-top: 0px">
        </div>
    </div>
</div>


<div id="{{'errormodal' + modalexceptions.idcontrol }}" class="uk-modal" aria-hidden="true" style="display: none; overflow-y: scroll;">
    <div class="uk-modal-dialog uk-modal-dialog-large">
        <div class="uk-modal-header md-bg-red-900" style="border-bottom: 0px;">
            <h3 class="uk-modal-title">Error en el sistema</h3>
        </div>
        <div class="uk-form-row">
            <form class="uk-form-horizontal uk-margin-large">

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">Código del error</label>
                    <div class="uk-form-controls">
                       {{modalexceptions.detail.code}}
                   
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">Mensaje del error</label>
                    <div class="uk-form-controls">
                       {{modalexceptions.detail.message}}
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">URL</label>
                    <div class="uk-form-controls">
                       {{modalexceptions.detail.url}}
                    </div>
                </div>

            </form>
        </div>
        <div class="uk-modal-footer uk-text-right">
            <button  ng-if="modalexceptions.detail.detail!=undefined" class="md-btn md-btn md-btn-danger  md-btn-wave-light waves-effect waves-button waves-light" ng-click="modalexceptions.modaldetail()">Detalle</button>                   
            <button type="button" class="uk-modal-close md-btn md-btn-flat">{{'0008' | translate}}</button>
            
        </div>

    </div>
</div>
<div class="uk-modal uk-modal-card-fullscreen" id="{{'modal_full' + modalexceptions.idcontrol }}" >
    <div class="uk-modal-dialog uk-modal-dialog-blank">
        <div class="md-card uk-height-viewport">
            <div class="md-card-toolbar md-bg-red-900">
                <div class="md-card-toolbar-actions">
                     
                </div>
                <span style="float: left; margin: 8px 8px 0 0; display: block;" class="md-icon material-icons md-color-grey-100" ng-click="modalexceptions.closemodaldatail()" >&#xE5C4;</span>
                <h3 class="md-card-toolbar-heading-text md-color-grey-100">
                    Error
                </h3>
            </div>
            <div class="md-card-content">
                 {{modalexceptions.detail.detail}}  
            </div>
        </div>
    </div>
</div>




   