<style type="text/css">
    .vs-repeat-custom-scroll {
        margin-top: 0px;
        height: calc(100% - 40px);
        width: 100% !important;
        overflow-y: auto;
    }
</style>
<modalexceptions openmodal="vm.ShowPopupError" detailerror="vm.Error"></modalexceptions>
<loadpage view="vm.loadingdata"></loadpage>
<div id="page_content">
    <div id="page_content_inner" style="padding: 10px 19px 0px;">
        <div class="uk-grid fullheight">
            <div style="height: 97%" class="uk-width-1-1">
                <div class="md-card md-card-hover fullheight">
                    <div style="height: 96%" class="md-card-content uk-margin">
                        <div class="uk-width-1-1 fullheight">
                            <ul class="uk-tab" data-uk-tab="{connect:'#tabs_1',swiping: false}" style="height:36px">
                                <li class="uk-active" ng-click="vm.changetab(1)"><a href="#">{{'0110' | translate}}</a>
                                </li>
                                <li ng-click="vm.changetab(2)"><a href="#">{{'0027' | translate}}</a></li>
                                <li ng-click="vm.changetab(3)"><a href="#">{{'0013' | translate}}</a></li>
                            </ul>
                            <ul id="tabs_1" class="uk-switcher uk-margin" style="height: calc(100% - 53px);">
                                <li class="fullheight">
                                    <div class="uk-grid fullheight">
                                        <div class="uk-width-1-1 uk-flex uk-flex-center" style="height: 89%">
                                            <div class="md-card  md-card-hover" style="height:90px;margin-top: 36px;">
                                                <div class="md-card-content">
                                                    <orderfilter rangeinit="vm.rangeInit" rangeend="vm.rangeEnd"
                                                        isopenreport="vm.button" typeview="1"></orderfilter>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uk-width-1-1">
                                            <div class="uk-float-right">
                                                <button type="button" ng-disabled="!vm.button"
                                                    class="md-fab md-fab-small md-fab-danger"
                                                    ng-class="{'md-bg-blue-grey-100' :!vm.button}"
                                                    ng-click="vm.openpopupmotive(1)">
                                                    <i class="uk-icon-eraser" data-uk-tooltip="{pos:'top'}"
                                                        title="{{'0728' | translate}}"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="fullheight">
                                    <div class="uk-grid fullheight">
                                        <div class="uk-width-4-10" style="height: 95px; margin-left: 1%;
                                         width: 39%; margin-top: 1px;">
                                            <div class="md-card  md-card-hover" style="min-height: 82px;">
                                                <div class="md-card-content fullheight">
                                                    <orderfilter rangeinit="vm.rangeInit1" rangeend="vm.rangeEnd1"
                                                        isopenreport="vm.button1" typeview="1"></orderfilter>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uk-width-4-10" style="padding-left: 10px;height: 95px;">
                                            <div class="md-card md-card-hover" style="min-height: 82px;">
                                                <div class="md-card-content fullheight">
                                                    <div class="uk-input-group">
                                                        <span class="uk-input-group-addon">
                                                            <img ng-src="images/search.png" />
                                                        </span>
                                                        <div class="md-input-wrapper md-input-filled">
                                                            <label>{{'0154' | translate}}</label>
                                                            <input type="text" name="search" id="search" md-input
                                                                label-fixed class="md-input  label-fixed"
                                                                ng-model="vm.search">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uk-width-2-10" style="padding-left: 10px;height: 95px; width: 19%;">
                                            <div class="md-card md-card-hover" style="min-height: 82px;">
                                                <div class="md-card-content fullheight">
                                                    <ul class="md-list md-list-addon"
                                                        style="margin-left: 16px;height: 51px;">
                                                        <li style="margin-left: 0px">
                                                            <div class="md-list-addon-element"
                                                                style="left: -15px; width: 27px; top:-10px">
                                                                <img class="md-list-addon-icon material-icons md-26"
                                                                    ng-src="images/order/totalorder1.png">
                                                            </div>
                                                            <div class="md-list-content" style="padding-left: 30px;">
                                                                <span class="uk-text-small uk-text-muted">{{'0101' |
                                                                    translate}}</span>
                                                                <span class="md-list-heading uk-text-small"
                                                                    style="font-size: 18px !important;">
                                                                    {{vm.filtered.length}}</span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uk-width-1-1"
                                            style="height: calc(100% - 164px);width: 98%;margin-left: 11px;margin-top: -53px;">
                                            <div class="md-card  md-card-hover fullheight">
                                                <div class="md-card-content fullheight" style="padding: 0px;">
                                                    <div class="uk-grid uk-flex uk-flex-center uk-flex-middle div-head"
                                                        style="height: 38px;">
                                                        <div class="uk-width-2-10" style="width: 2%;padding-left: 0px;"
                                                            ng-show="vm.listtest.length == 0">
                                                            <!-- <input type="checkbox" icheck ng-model="vm.selectAllcheck"
                                                                ng-disabled="true"> -->
                                                        </div>
                                                        <div ng-if="vm.tab==2" class="uk-width-2-10"
                                                            style="width: 2%;    padding-left: 0px;"
                                                            ng-show="vm.listtest.length != 0">
                                                           <!--  <input type="checkbox" icheck ng-model="vm.selectAllcheck"
                                                                ng-change="vm.selectall()"> -->
                                                        </div>
                                                        <div class="uk-width-2-10">
                                                            <a
                                                                ng-click="$event.stopPropagation(); vm.sortType = 'code'; sortReverse = !sortReverse; $event.stopPropagation() ">
                                                                <i ng-if="!sortReverse"
                                                                    class="uk-icon-sort-alpha-asc"></i>
                                                                <i ng-if="sortReverse"
                                                                    class="uk-icon-sort-alpha-desc"></i>
                                                                <span
                                                                    ng-show="vm.sortType == 'code' && !sortReverse"></span>
                                                                <span
                                                                    ng-show="vm.sortType == 'code' && sortReverse"></span>
                                                            </a>{{'0098' | translate}}
                                                        </div>
                                                        <div class="uk-width-2-10">
                                                            <a
                                                                ng-click="$event.stopPropagation(); vm.sortType = 'abbr'; sortReverse = !sortReverse; $event.stopPropagation() ">
                                                                <i ng-if="!sortReverse"
                                                                    class="uk-icon-sort-alpha-asc"></i>
                                                                <i ng-if="sortReverse"
                                                                    class="uk-icon-sort-alpha-desc"></i>
                                                                <span
                                                                    ng-show="vm.sortType == 'abbr' && !sortReverse"></span>
                                                                <span
                                                                    ng-show="vm.sortType == 'abbr' && sortReverse"></span>
                                                            </a>{{'0198' | translate}}
                                                        </div>
                                                        <div class="uk-width-5-10" style="width: 56%;">
                                                            <a
                                                                ng-click="$event.stopPropagation(); vm.sortType = 'name'; sortReverse = !sortReverse; $event.stopPropagation() ">
                                                                <i ng-if="!sortReverse"
                                                                    class="uk-icon-sort-alpha-asc"></i>
                                                                <i ng-if="sortReverse"
                                                                    class="uk-icon-sort-alpha-desc"></i>
                                                                <span
                                                                    ng-show="vm.sortType == 'name' && !sortReverse"></span>
                                                                <span
                                                                    ng-show="vm.sortType == 'name' && sortReverse"></span>
                                                            </a>{{'0118' | translate}}
                                                        </div>
                                                    </div>
                                                    <div class="vs-repeat-custom-scroll contentscroll" vs-repeat="20"
                                                        data-scroll-to-top='vm.filtered.length'
                                                        style="height: calc(100% - 38px);" ng-if="vm.tab===2">
                                                        <div ng-repeat="test in vm.filtered= ( vm.listtest | filter: vm.search | orderBy:vm.sortType:sortReverse)"
                                                            class="uk-grid uk-flex uk-flex-center uk-flex-middle div-table"
                                                            style="margin-top: 0px;">
                                                            <div style="width: 2%; padding-left: 0px;">
                                                                <input type="checkbox" icheck ng-model="test.check"
                                                                    class="check_row" table-check-row>
                                                            </div>
                                                            <div class="uk-width-2-10">{{test.code}}</div>
                                                            <div class="uk-width-2-10">{{test.abbr}}</div>
                                                            <div class="uk-width-5-10" style="width: 56%;">{{test.name}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="uk-width-1-1" style="margin-top: 10px;">
                                                <div class="uk-float-right">
                                                    <button style="margin-right: 10px;" type="button"
                                                        ng-disabled="!vm.button1 || ((vm.listtest | filter:{ check: true}).length === 0 )"
                                                        class="md-fab md-fab-small md-fab-danger"
                                                        ng-class="{'md-bg-blue-grey-100' :!vm.button1 || ((vm.listtest | filter:{ check: true}).length === 0 )}"
                                                        ng-click="vm.openpopupmotive(2)">
                                                        <i class="uk-icon-eraser" data-uk-tooltip="{pos:'top'}"
                                                            title="{{'0729' | translate}}"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                </li>
                                <li class="fullheight">
                                    <div class="uk-grid fullheight">
                                        <div class="uk-width-4-10"
                                            style="height: 95px;width: 39%;margin-left: 1%;    margin-top: 1px;">
                                            <div class="md-card  md-card-hover" style="min-height: 82px">
                                                <div class="md-card-content">
                                                    <orderfilter rangeinit="vm.rangeInit2" rangeend="vm.rangeEnd2"
                                                        isopenreport="vm.button2" typeview="1"></orderfilter>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uk-width-4-10"
                                            style="padding-left: 10px;margin-top: 1px;height: 95px">
                                            <div class="md-card md-card-hover">
                                                <div class="md-card-content">
                                                    <div class="uk-input-group">
                                                        <span class="uk-input-group-addon">
                                                            <img ng-src="images/search.png" />
                                                        </span>
                                                        <div class="md-input-wrapper md-input-filled">
                                                            <label>{{'0154' | translate}}</label>
                                                            <input type="text" name="search1" id="search1" md-input
                                                                label-fixed class="md-input  label-fixed"
                                                                ng-model="vm.search1">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uk-width-2-10"
                                            style="padding-left: 10px;width: 19%;;margin-top: 1px;height: 95px">
                                            <div class="md-card md-card-hover">
                                                <div class="md-card-content">
                                                    <ul class="md-list md-list-addon"
                                                        style="margin-left: 16px;height: 51px;">
                                                        <li style="margin-left: 0px">
                                                            <div class="md-list-addon-element"
                                                                style="left: -15px; width: 27px; top:-10px">
                                                                <img class="md-list-addon-icon material-icons md-26"
                                                                    ng-src="images/order/totalorder1.png">
                                                            </div>
                                                            <div class="md-list-content" style="padding-left: 30px;">
                                                                <span class="uk-text-small uk-text-muted">{{'0101' |
                                                                    translate}}</span>
                                                                <span class="md-list-heading uk-text-small"
                                                                    style="font-size: 18px !important;">
                                                                    {{vm.filtered1.length}}</span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uk-width-1-1" style="height: calc(100% - 164px);width: 98%;
                                          margin-left: 1%;">
                                            <div class="md-card  md-card-hover" style="height: 100%;margin-top: 11px;">
                                                <div class="md-card-content" style="height: 100%;padding: 0px;">
                                                    <table
                                                        class="uk-table  uk-table-small uk-table-middle tablescrollable"
                                                        style="height: 100%;margin-bottom: 0px;">
                                                        <thead style=" display: inline-block;width: 100%;height: 36px;">
                                                            <tr class="uk-grid"
                                                                style="margin-left: 0px;background-color: #eee;">
                                                                <th class="uk-table-middle small_col uk-text-center"
                                                                    style="width: 2%;"
                                                                    ng-show="vm.listtestdelete.length == 0">
                                                                    <!-- <input type="checkbox" icheck
                                                                        ng-model="vm.selectAllcheck1"
                                                                        ng-disabled="true"> -->
                                                                </th>
                                                                <th ng-if="vm.tab==3"
                                                                    class="uk-table-middle small_col uk-text-center"
                                                                    style="width: 2%;"
                                                                    ng-show="vm.listtestdelete.length != 0">
                                                                   <!--  <input type="checkbox" icheck
                                                                        ng-model="vm.selectAllcheck1"
                                                                        ng-change="vm.selectalltest()"> -->
                                                                </th>
                                                                <th class="uk-width-2-10">
                                                                    <a
                                                                        ng-click="$event.stopPropagation(); vm.sortType = 'code'; sortReverse = !sortReverse; $event.stopPropagation() ">
                                                                        <i ng-if="!sortReverse"
                                                                            class="uk-icon-sort-alpha-asc"></i>
                                                                        <i ng-if="sortReverse"
                                                                            class="uk-icon-sort-alpha-desc"></i>
                                                                        <span
                                                                            ng-show="vm.sortType == 'code' && !sortReverse"></span>
                                                                        <span
                                                                            ng-show="vm.sortType == 'code' && sortReverse"></span>
                                                                    </a>{{'0098' | translate}}
                                                                </th>
                                                                <th class="uk-width-2-10">
                                                                    <a
                                                                        ng-click="$event.stopPropagation(); vm.sortType = 'abbr'; sortReverse = !sortReverse; $event.stopPropagation() ">
                                                                        <i ng-if="!sortReverse"
                                                                            class="uk-icon-sort-alpha-asc"></i>
                                                                        <i ng-if="sortReverse"
                                                                            class="uk-icon-sort-alpha-desc"></i>
                                                                        <span
                                                                            ng-show="vm.sortType == 'abbr' && !sortReverse"></span>
                                                                        <span
                                                                            ng-show="vm.sortType == 'abbr' && sortReverse"></span>
                                                                    </a>{{'0198' | translate}}
                                                                </th>
                                                                <th class="uk-width-5-10" style="width: 56%;">
                                                                    <a
                                                                        ng-click="$event.stopPropagation(); vm.sortType = 'name'; sortReverse = !sortReverse; $event.stopPropagation() ">
                                                                        <i ng-if="!sortReverse"
                                                                            class="uk-icon-sort-alpha-asc"></i>
                                                                        <i ng-if="sortReverse"
                                                                            class="uk-icon-sort-alpha-desc"></i>
                                                                        <span
                                                                            ng-show="vm.sortType == 'name' && !sortReverse"></span>
                                                                        <span
                                                                            ng-show="vm.sortType == 'name' && sortReverse"></span>
                                                                    </a>{{'0118' | translate}}
                                                                </th>

                                                            </tr>
                                                        </thead>
                                                        <tbody
                                                            class="tbodyscrollable vs-repeat-custom-scroll contentscroll"
                                                            vs-repeat="30" ng-if="vm.tab===3"
                                                            data-scroll-to-top='vm.filtered1.length'>
                                                            <tr ng-repeat="test1 in vm.filtered1= ( vm.listtestdelete | filter: vm.search1 | orderBy:vm.sortType:sortReverse)"
                                                                class="uk-grid"
                                                                style="margin-left: 0px;margin-top: 0px;">
                                                                <td class="uk-table-middle small_col uk-text-center"
                                                                    style="width: 2%;">
                                                                    <input type="checkbox" icheck ng-model="test1.check"
                                                                        class="check_row" table-check-row>
                                                                </td>
                                                                <td class="uk-width-2-10">{{test1.code}}</td>
                                                                <td class="uk-width-2-10">{{test1.abbr}}</td>
                                                                <td class="uk-width-5-10" style="width: 56%;">
                                                                    {{test1.name}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uk-width-9-10 uk-flex uk-flex-center uk-flex-middle" style="height: 47px;
                                            margin-top: 19px;
                                            width: 93%;">
                                            <div class="md-card  md-card-hover" style="height: 100%;">
                                                <div class="md-card-content">
                                                    <p style="margin-left: 7px">
                                                        <input type="radio" name="typeresult" id="typeresult1" icheck
                                                            ng-model="vm.testprocces" value="3"
                                                            ng-change="vm.button('3')" />
                                                        <label style="margin-right: 20px" for="typeresult1"
                                                            class="inline-label">{{'0215' | translate}}</label>
                                                        <input type="radio" name="typeresult" id="typeresult2" icheck
                                                            ng-model="vm.testprocces" value="4"
                                                            ng-change="vm.button('4')" />
                                                        <label style="margin-right: 20px" for="typeresult2"
                                                            class="inline-label">{{'0216' | translate}}</label>
                                                        <input type="radio" name="typeresult" id="typeresult3" icheck
                                                            ng-model="vm.testprocces" value="5"
                                                            ng-change="vm.button('5')" />
                                                        <label for="typeresult3" class="inline-label">{{'0308' |
                                                            translate}}</label>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uk-float-right" style="margin-top: 17px;">
                                            <button type="button"
                                                ng-disabled="!vm.button2 || ((vm.listtestdelete | filter:{ check: true}).length === 0 )"
                                                class="md-fab md-fab-small md-fab-danger"
                                                ng-class="{'md-bg-blue-grey-100' :!vm.button2 || ((vm.listtestdelete | filter:{ check: true}).length === 0 )}"
                                                ng-click="vm.openpopupmotive(3)">
                                                <i class="uk-icon-eraser" data-uk-tooltip="{pos:'top'}"
                                                    title="{{'0730' | translate}}"></i>
                                            </button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="testinvalid" class="uk-modal">
    <div class="uk-modal-dialog">
        <div class="uk-modal-header md-bg-teal-600" style="border-bottom: 0px;">
            <h3 class="uk-modal-title">{{'0013' | translate}}</h3>
        </div>
        <div class="uk-form-row">
            <form class="form" name="myForm">

                <div class="uk-form-row">
                    <label>{{'0731' | translate}}</label>
                    <div class="uk-form-row">
                        <table class="uk-table  uk-table-small uk-table-middle tablescrollable">
                            <thead class="theadscrollable">
                                <tr class="uk-grid" style="margin-left: 0px;background-color: #eee;">
                                    <th class="uk-width-1-1">
                                        <a
                                            ng-click="$event.stopPropagation(); vm.sortType2 = 'order'; sortReverse1 = !sortReverse1; $event.stopPropagation() ">
                                            <i ng-if="!sortReverse1" class="uk-icon-sort-alpha-asc"></i>
                                            <i ng-if="sortReverse1" class="uk-icon-sort-alpha-desc"></i>
                                            <span ng-show="vm.sortType2 == 'order' && !sortReverse1"></span>
                                            <span ng-show="vm.sortType2 == 'order' && sortReverse1"></span>
                                        </a>{{'0110' | translate}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="tbodyscrollable" style="height: 333px" vs-repeat>
                                <tr class="uk-grid"
                                    data-ng-repeat="Test in vm.listtestinvalid | orderBy:vm.sortType2:sortReverse1"
                                    style="margin-left: 0px;    margin-top: 0px;">
                                    <td class="uk-width-1-1" data-ng-bind="Test.order"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>

        </div>
        <div class="uk-modal-footer uk-text-right">
            <button type="button" class="uk-modal-close md-btn md-btn-flat uk-modal-close"
                ng-click="vm.selectall()">{{'0329' | translate}}</button>
        </div>
    </div>
</div>
<div class="uk-modal uk-modal-card-fullscreen" id="modallist">
    <div class="uk-modal-dialog uk-modal-dialog-blank">
        <div class="md-card uk-height-viewport">
            <div class="md-card-toolbar md-bg-blue-A100">
                <div class="md-card-toolbar-actions">
                    <div>
                        <i class="md-icon material-icons  md-color-blue-50 uk-modal-close" data-uk-tooltip="{pos:'top'}"
                            title="{{'0329'| translate}}" style="margin: 0px 0px 0 0;">&#xE5CD;</i>
                    </div>
                </div>
                <span style="float: left; margin: 8px 8px 0 0; display: block;">
                    <i class="uk-icon-eraser md-color-light-blue-50" style="font-size: 33px;"></i>
                </span>
                <h3 class="md-card-toolbar-heading-text md-color-blue-50">
                    {{'0305' | translate}}
                </h3>
            </div>
            <div class="md-card-content" style="height: 100%">
                <div style="height: 100%" class="uk-grid">
                    <div class="uk-width-1-1" style="height: 100%">
                        <div class="md-card  md-card-hover" style="height: 90%;">
                            <div class="md-card-content" style="height: 100%;padding: 0px;">
                                <table class="uk-table  uk-table-small uk-table-middle tablescrollable"
                                    style="height: 100%;margin-bottom: 0px;">
                                    <thead style="display: inline-block;width: 100%;height: 36px;">
                                        <tr class="uk-grid" style="margin-left: 0px;background-color: #eee;">
                                            <th class="uk-width-1-10">
                                                <a
                                                    ng-click="$event.stopPropagation(); vm.sortType = 'orderNumber'; sortReverse = !sortReverse; $event.stopPropagation() ">
                                                    <i ng-if="!sortReverse" class="uk-icon-sort-alpha-asc"></i>
                                                    <i ng-if="sortReverse" class="uk-icon-sort-alpha-desc"></i>
                                                    <span ng-show="vm.sortType == 'orderNumber' && !sortReverse"></span>
                                                    <span ng-show="vm.sortType == 'orderNumber' && sortReverse"></span>
                                                </a>{{'0110' | translate}}
                                            </th>
                                            <th class="uk-width-1-10">
                                                {{'0306' | translate}}
                                            </th>
                                            <th class="uk-width-1-10">
                                                {{'0001' | translate}}
                                            </th>
                                            <th class="uk-width-3-10">
                                                {{'0113' | translate}}
                                            </th>
                                            <th class="uk-width-4-10">
                                                {{'0332' | translate}}
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="tbodyscrollable contentscroll" vs-repeat
                                        style="margin-top: 5px;height:95%;width: 100% !important;">
                                        <tr ng-repeat="list in vm.Detail[0].order | orderBy:vm.sortType:sortReverse"
                                            class="uk-grid" style="margin-left: 0px;margin-top: 0px;">
                                            <td class="uk-width-1-10">{{list.orderNumber}}</td>
                                            <td class="uk-width-1-10">{{vm.Detail[0].deleteDate}}</td>
                                            <td class="uk-width-1-10">{{vm.Detail[0].userName}}</td>
                                            <td class="uk-width-3-10">{{vm.Detail[0].motive}}</td>
                                            <td class="uk-width-4-10">{{vm.Detail[0].comment}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="deletemodal" class="uk-modal">
    <div class="uk-modal-dialog">
        <div class="uk-modal-header md-bg-red-900" style="border-bottom: 0px;" ng-if="vm.Listmotive.length>0">
            <h3 class="uk-modal-title ">{{'0307' | translate}}</h3>
        </div>
        <div class="uk-form-row">
            <form class="form" name="myForm" ng-if="vm.Listmotive.length>0">
                <div class="uk-form-row">
                    <div class="uk-modal-content">{{'0113' | translate}}: </div>

                    <select class="md-input" ng-options="obj as obj.name for obj in vm.Listmotive track by obj.id"
                        data-ng-model="vm.motive" class="form-control"></select>
                </div>
                <div class="uk-form-row">
                    <div class="uk-form-row">
                        <label>{{'0332' | translate}}:</label>
                        <div class="md-input-wrapper">
                            <textarea cols="30" rows="4" data-ng-model="vm.Comment" class="md-input no_autosize"
                                style="margin: 0px -10.5px 0px 0px; width: 564px; height: 121px;"></textarea><span
                                class="md-input-bar "></span>
                        </div>
                    </div>
                </div>
            </form>
            <form class="form" name="myForm" ng-if="vm.Listmotive.length==0">
                <div class="uk-grid uk-container-center" ng-show="vm.typemotiveid==15">
                    <div class="uk-width-3-10">
                        <img src="images/iconinfo.png" height="90" width="90">
                    </div>
                    <div class="uk-width-7-10" style="margin-top: 3%;">
                        <span>{{'0732' | translate}}</span>
                    </div>
                </div>
                <div class="uk-grid uk-container-center" ng-show="vm.typemotiveid==17">
                    <div class="uk-width-3-10">
                        <img src="images/iconinfo.png" height="90" width="90">
                    </div>
                    <div class="uk-width-7-10" style="margin-top: 3%;">
                        <span>{{'0733' | translate}}</span>
                    </div>
                </div>
            </form>
        </div>
        <div class="uk-modal-footer uk-text-right" ng-if="vm.Listmotive.length>0">
            <button type="button" class="md-btn md-btn-primary  md-btn-wave-light waves-effect waves-button waves-light"
                data-uk-modal="{target:'#confirmation'}"
                ng-class="{'disabled': (vm.motive.id === -1 || vm.Comment === ''),'md-bg-red-900': (vm.motive.id !== -1 && vm.Comment !== '')}">
                {{'0007' | translate}}
            </button>
            <button type="button" class="uk-modal-close md-btn md-btn-flat uk-modal-close"
                ng-click="vm.Comment=''; vm.motive.id=-1">{{'0008' | translate}}</button>
        </div>
    </div>
</div>
<div id="confirmation" class="uk-modal">
    <div class="uk-modal-dialog">
        <div class="uk-form-row">
            <form class="form" name="myForm">
                <div class="uk-grid uk-container-center">
                    <div class="uk-width-2-10" style="padding-left: 17px;">
                        <img src="images/Question.png" height="90" width="90">
                    </div>
                    <div class="uk-width-8-10" style="margin-top: 3%;"
                        ng-if="vm.numberdelete.length !=1 && vm.deleteType==1">
                        <span class="uk-text-justify"><strong>{{'0333' | translate}}:</strong> <br> </span>
                        <span class="uk-text-justify">¿{{'0334' | translate}} {{vm.numberdelete.length}} {{'0335' |
                            translate}}
                            {{vm.orderinicial}} {{'0336' | translate}} {{vm.orderfinal}} ?</span>
                    </div>
                    <div class="uk-width-8-10" style="margin-top: 3%;"
                        ng-if="vm.numberdelete.length==1 && vm.deleteType==1">
                        <span class="uk-text-justify"><strong>{{'0333' | translate}}:</strong> <br> </span>
                        <span class="uk-text-justify" ng-if="vm.orderinicial!=vm.orderfinal">
                            ¿{{'0337' | translate}}
                            {{vm.orderinicial}} {{'0336' | translate}} {{vm.orderfinal}}?
                        </span>
                        <span class="uk-text-justify" ng-if="vm.orderinicial==vm.orderfinal">¿{{'0338' | translate}}
                            {{vm.orderinicial}}?</span>
                    </div>
                    <div class="uk-width-8-10" style="margin-top: 3%;"
                        ng-if="vm.numberdelete.length!=1 && vm.deleteType==2">
                        <span class="uk-text-justify"><strong>{{'0333' | translate}}:</strong> <br> </span>
                        <span class="uk-text-justify">¿{{'0339' | translate}} {{vm.numberdelete.length}} {{'0340' |
                            translate}}
                            {{vm.orderinicial}} {{'0336' | translate}} {{vm.orderfinal}} ?</span>
                    </div>
                    <div class="uk-width-8-10" style="margin-top: 3%;"
                        ng-if="vm.numberdelete.length==1 && vm.deleteType==2">
                        <span class="uk-text-justify"><strong>{{'0333' | translate}}:</strong> <br> </span>
                        <span class="uk-text-justify" ng-if="vm.orderinicial!=vm.orderfinal">
                            ¿{{'0341' | translate}}
                            {{vm.orderinicial}} {{'0336' | translate}} {{vm.orderfinal}}?
                        </span>
                        <span class="uk-text-justify" ng-if="vm.orderinicial==vm.orderfinal">¿{{'0342' | translate}}
                            {{vm.orderinicial}}?</span>
                    </div>
                    <div class="uk-width-8-10" style="margin-top: 3%;"
                        ng-if="vm.numberdelete.length!=1 && vm.deleteType!=2 && vm.deleteType!=1">
                        <span class="uk-text-justify"><strong>{{'0333' | translate}}:</strong> <br> </span>
                        <span class="uk-text-justify">¿{{'0343' | translate}} {{vm.numberdelete.length}} {{'0344' |
                            translate}}
                            {{vm.orderinicial}} {{'0336' | translate}} {{vm.orderfinal}} ?</span>
                    </div>
                    <div class="uk-width-8-10" style="margin-top: 3%;"
                        ng-if="vm.numberdelete.length==1 && vm.deleteType!=2 && vm.deleteType!=1">
                        <span class="uk-text-justify"><strong>{{'0333' | translate}}:</strong> <br> </span>
                        <span class="uk-text-justify" ng-if="vm.orderinicial!=vm.orderfinal">
                            ¿{{'0345' | translate}}
                            {{vm.orderinicial}} {{'0336' | translate}} {{vm.orderfinal}}?
                        </span>
                        <span class="uk-text-justify" ng-if="vm.orderinicial==vm.orderfinal">¿{{'0346' | translate}}
                            {{vm.orderinicial}}?</span>
                    </div>
                </div>
            </form>
        </div>
        <div class="uk-modal-footer uk-text-right">
            <button type="button" class="md-btn md-btn-primary  md-btn-wave-light waves-effect waves-button waves-light"
                data-uk-modal="{target:'#advertencie'}">
                {{'0219' | translate}}
            </button>
            <button type="button" class="uk-modal-close md-btn md-btn-flat"
                ng-click="vm.Comment=''; vm.motive.id=-1">{{'0220' | translate}}</button>
        </div>
    </div>
</div>
<div id="advertencie" class="uk-modal">
    <div class="uk-modal-dialog">
        <div class="uk-form-row">
            <form class="form" name="myForm">
                <div class="uk-grid uk-container-center">
                    <div class="uk-width-2-10" style="padding-left: 17px;">
                        <img src="images/Question.png" height="90" width="90">
                    </div>
                    <div class="uk-width-8-10" style="margin-top: 3%;"
                        ng-if="vm.numberdelete.length!=1 && vm.deleteType==1">
                        <span class="uk-text-justify"><strong>{{'0347' | translate}}:</strong> <br> </span>
                        <span class="uk-text-justify">¿{{'0334' | translate}} {{vm.numberdelete.length}} {{'0335' |
                            translate}}
                            {{vm.orderinicial}} {{'0336' | translate}} {{vm.orderfinal}} ?</span>
                    </div>
                    <div class="uk-width-8-10" style="margin-top: 3%;"
                        ng-if="vm.numberdelete.length==1 && vm.deleteType==1">
                        <span class="uk-text-justify"><strong>{{'0347' | translate}}:</strong> <br> </span>
                        <span class="uk-text-justify" ng-if="vm.orderinicial!=vm.orderfinal">
                            ¿{{'0337' | translate}}
                            {{vm.orderinicial}} {{'0336' | translate}} {{vm.orderfinal}}?
                        </span>
                        <span class="uk-text-justify" ng-if="vm.orderinicial==vm.orderfinal">¿{{'0338' | translate}}
                            {{vm.orderinicial}}?</span>
                    </div>
                    <div class="uk-width-8-10" style="margin-top: 3%;"
                        ng-if="vm.numberdelete.length!=1 && vm.deleteType==2">
                        <span class="uk-text-justify"><strong>{{'0347' | translate}}:</strong> <br> </span>
                        <span class="uk-text-justify">¿{{'0339' | translate}} {{vm.numberdelete.length}} {{'0340' |
                            translate}}
                            {{vm.orderinicial}} {{'0336' | translate}} {{vm.orderfinal}} ?</span>
                    </div>
                    <div class="uk-width-8-10" style="margin-top: 3%;"
                        ng-if="vm.numberdelete.length==1 && vm.deleteType==2">
                        <span class="uk-text-justify"><strong>{{'0347' | translate}}:</strong> <br> </span>
                        <span class="uk-text-justify" ng-if="vm.orderinicial!=vm.orderfinal">
                            ¿{{'0341' | translate}}
                            {{vm.orderinicial}} {{'0336' | translate}} {{vm.orderfinal}}?
                        </span>
                        <span class="uk-text-justify" ng-if="vm.orderinicial==vm.orderfinal">¿{{'0342' | translate}}
                            {{vm.orderinicial}}?</span>
                    </div>
                    <div class="uk-width-8-10" style="margin-top: 3%;"
                        ng-if="vm.numberdelete.length!=1 && vm.deleteType!=2 && vm.deleteType!=1">
                        <span class="uk-text-justify"><strong>{{'0347' | translate}}:</strong> <br> </span>
                        <span class="uk-text-justify">¿{{'0343' | translate}} {{vm.numberdelete.length}} {{'0344' |
                            translate}}
                            {{vm.orderinicial}} {{'0336' | translate}} {{vm.orderfinal}} ?</span>
                    </div>
                    <div class="uk-width-8-10" style="margin-top: 3%;"
                        ng-if="vm.numberdelete.length==1 && vm.deleteType!=2 && vm.deleteType!=1">
                        <span class="uk-text-justify"><strong>{{'0347' | translate}}:</strong> <br> </span>
                        <span class="uk-text-justify" ng-if="vm.orderinicial!=vm.orderfinal">
                            ¿{{'0345' | translate}}
                            {{vm.orderinicial}} {{'0336' | translate}} {{vm.orderfinal}}?
                        </span>
                        <span class="uk-text-justify" ng-if="vm.orderinicial==vm.orderfinal">¿{{'0346' | translate}}
                            {{vm.orderinicial}}?</span>
                    </div>
                </div>
            </form>
        </div>
        <div class="uk-modal-footer uk-text-right">
            <button type="button" class="md-btn md-btn-primary  md-btn-wave-light waves-effect waves-button waves-light"
                ng-click="vm.save()">
                {{'0219' | translate}}
            </button>
            <button type="button" class="uk-modal-close md-btn md-btn-flat"
                ng-click="vm.Comment=''; vm.motive.id=-1">{{'0220' | translate}}</button>
        </div>
    </div>
</div>
<div id="modalprogressprintdelete" class="uk-modal" aria-hidden="true">
    <div class="uk-modal-dialog">
        <div class="uk-progress uk-progress-striped uk-active" style="margin-bottom: 3px">
            <div class="uk-progress-bar" style="width: {{vm.porcent}}%;">{{vm.porcent}}%</div>
        </div>
        <div class="uk-width-1-1 uk-text-center uk-text-bold uk-text-small">{{vm.ind}}
            {{vm.prepotition}}
            {{vm.total}}</div>
    </div>
</div>
<!-- common functions -->
<script src="assets/js/common.min.js"></script>
<!-- uikit functions -->
<script src="assets/js/uikit_custom.min.js"></script>
<!-- altair common functions/helpers -->
<script src="assets/js/altair_admin_common.js"></script>