<loadpage view="vm.loadingdata"></loadpage>
<modalreport openmodal="vm.open"></modalreport>
<modalerror openerrormodal="vm.ShowPopupError" detailerror="vm.Error"></modalerror>
<section class="row general-container">
  <div class="panel panel-primary panel-principal">
    <div class="panel-heading row">
      <div class="col-md-4 text-left">
        <strong class="panel-title text-left title-bar" style="width: 100%;">{{'0219' | translate | uppercase}}</strong>
      </div>
      <div class="col-md-8 text-right" style="padding-top: 5px;">
        <strong ng-bind="vm.usuario" class="text-right"></strong>
        <h3 class="panel-title glyphicon glyphicon-question-sign question-style" data-toggle="tooltip"
          data-placement="bottom" title="Ctrl + B"
          onclick="javascript:window.open('/enterprise_nt_help/index.htm?page=enterprise_nt/configuration/populationgroup/populationgroup.htm','','width=1200,height=600,left=50,top=50,toolbar=yes');">
        </h3>
      </div>
    </div>
    <div class="panel-body general-container panel-padding panel-scroll contentscroll">
      <div class="col-md-5 panel-padding" style="height: 100%">
        <div class="panel-list">
          <div class="panel panel-primary general-container">
            <div class="panel-body general-container">
              <div>
                <div class="input-group right-bar">
                  <input data-ng-model="vm.search" class="form-control" type="text"
                    placeholder="{{'0015' | translate}}">
                  <div class="input-group-addon">
                    <i class="glyphicon glyphicon-search"></i>
                  </div>
                </div>
                <div class="number-bage">
                  <span style="margin-top:10px" class="badge" data-ng-bind="vm.filtered.length"></span>
                </div>
              </div>
              <table class="table table-list table-hover ">
                <thead>
                  <tr>
                    <th class="col-md-3">
                      <a
                        ng-click="$event.stopPropagation(); vm.sortType =  vm.code; vm.sortReverse = !vm.sortReverse; $event.stopPropagation() ">
                        <i ng-if="!vm.sortReverse && vm.sortType != vm.code"
                          class="glyphicon glyphicon-sort-by-alphabet"></i>
                        <i ng-if="vm.sortReverse && vm.sortType != vm.code"
                          class="glyphicon glyphicon-sort-by-alphabet-alt"></i>
                        <i ng-if="vm.sortType == vm.code && !vm.sortReverse "
                          class="glyphicon glyphicon-triangle-bottom"></i>
                        <i ng-if="vm.sortType == vm.code && vm.sortReverse"
                          class="glyphicon glyphicon-triangle-top"></i>
                        <span ng-show="vm.sortType == vm.code && !vm.sortReverse"></span>
                        <span ng-show="vm.sortType == vm.code && vm.sortReverse"></span>
                      </a> {{'0018' | translate}}
                    </th>
                    <th class="col-md-4">
                      <a
                        ng-click="$event.stopPropagation(); vm.sortType =  vm.name; vm.sortReverse = !vm.sortReverse; $event.stopPropagation() ">
                        <i ng-if="!vm.sortReverse && vm.sortType != vm.name"
                          class="glyphicon glyphicon-sort-by-alphabet"></i>
                        <i ng-if="vm.sortReverse && vm.sortType != vm.name"
                          class="glyphicon glyphicon-sort-by-alphabet-alt"></i>
                        <i ng-if="vm.sortType == vm.name && !vm.sortReverse "
                          class="glyphicon glyphicon-triangle-bottom"></i>
                        <i ng-if="vm.sortType == vm.name && vm.sortReverse"
                          class="glyphicon glyphicon-triangle-top"></i>
                        <span ng-show="vm.sortType == vm.name && !vm.sortReverse"></span>
                        <span ng-show="vm.sortType == vm.name && vm.sortReverse"></span>
                      </a> {{'0011' | translate}}
                    </th>
                    <th class="col-md-4" style="white-space: nowrap">
                      <a
                        ng-click="$event.stopPropagation(); vm.sortType =  vm.gender; vm.sortReverse = !vm.sortReverse; $event.stopPropagation() ">
                        <i ng-if="!vm.sortReverse && vm.sortType != vm.gender"
                          class="glyphicon glyphicon-sort-by-alphabet"></i>
                        <i ng-if="vm.sortReverse && vm.sortType != vm.gender"
                          class="glyphicon glyphicon-sort-by-alphabet-alt"></i>
                        <i ng-if="vm.sortType == vm.gender && !vm.sortReverse "
                          class="glyphicon glyphicon-triangle-bottom"></i>
                        <i ng-if="vm.sortType == vm.gender && vm.sortReverse"
                          class="glyphicon glyphicon-triangle-top"></i>
                        <span ng-show="vm.sortType == vm.gender && !vm.sortReverse"></span>
                        <span ng-show="vm.sortType == vm.gender && vm.sortReverse"></span>
                      </a>{{'0221' | translate}}
                    </th>
                    <th class="col-md-1 text-center" style="white-space: nowrap">
                      <a
                        ng-click="$event.stopPropagation(); vm.sortType =  vm.state; vm.sortReverse = !vm.sortReverse; $event.stopPropagation() ">
                        <i ng-if="!vm.sortReverse && vm.sortType != vm.state"
                          class="glyphicon glyphicon-sort-by-alphabet"></i>
                        <i ng-if="vm.sortReverse && vm.sortType != vm.state"
                          class="glyphicon glyphicon-sort-by-alphabet-alt"></i>
                        <i ng-if="vm.sortType == vm.state && !vm.sortReverse "
                          class="glyphicon glyphicon-triangle-bottom"></i>
                        <i ng-if="vm.sortType == vm.state && vm.sortReverse"
                          class="glyphicon glyphicon-triangle-top"></i>
                        <span ng-show="vm.sortType == vm.state && !vm.sortReverse"></span>
                        <span ng-show="vm.sortType == vm.state && vm.sortReverse"></span>
                      </a> {{'0014' | translate}}
                    </th>
                  </tr>
                </thead>
                <tbody class="tbody-list contentscroll" data-scroll-to-top='vm.filtered.length'
                  style="height: calc(100% - 14rem);">
                  <tr class="row-list"
                    data-ng-repeat="PopulationGroups in vm.filtered =((vm.dataPopulationGroups | filter: vm.search) | orderBy:vm.sortType:vm.sortReverse)"
                    data-ng-click="vm.getPopulationGroupsById(PopulationGroups.id, $index, PopulationGroupsForm)"
                    ng-class="{info: PopulationGroups.id == vm.selected, danger: PopulationGroups.state == 0 }">
                    <td class="col-md-3" data-ng-bind="PopulationGroups.code"></td>
                    <td class="col-md-4" data-ng-bind="PopulationGroups.name"></td>
                    <td class="col-md-4" data-ng-bind="PopulationGroups.gender"></td>
                    <td class="col-md-1 text-center">
                      <i ng-if="PopulationGroups.state == true" class="glyphicon glyphicon-ok green"></i>
                      <i ng-if="PopulationGroups.state == false" class="glyphicon glyphicon-ban-circle red">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-7 panel-padding" style="height: 100%">
        <div class="panel-list">
          <div class="panel panel-primary general-container">
            <div class="panel-body general-container panel-padding panel-scroll contentscroll "
              style="height: calc(100% - 55px)">
              <form name="PopulationGroupsForm" id="PopulationGroupsForm" class="form-horizontal panel-body ">
                <div class="form-group form-group-sm has-feedback"
                  ng-class="{'has-error': PopulationGroupsForm.code.$invalid && PopulationGroupsForm.code.$touched||vm.codeRepeat }">
                  <label class="col-md-3 text-right">{{'0018' | translate}}:</label>
                  <div class="col-md-3">
                    <input class="form-control" maxlength="10" data-ng-model="vm.populationgroupsDetail.code"
                      ng-required="true" ng-disabled="vm.isDisabled" name="code" id="code" class="form-control"
                      type="text" ng-focus="vm.codeRepeat = false">
                    <span
                      ng-if="PopulationGroupsForm.code.$invalid && PopulationGroupsForm.code.$touched ||vm.codeRepeat"
                      class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                    <span ng-if="PopulationGroupsForm.code.$invalid && PopulationGroupsForm.code.$touched"
                      class="help-block ">{{'0016' | translate}}</span>
                    <span ng-if="vm.codeRepeat" class="help-block ">{{'0038' | translate}}</span>
                  </div>
                </div>
                <div class="form-group form-group-sm has-feedback"
                  ng-class="{'has-error': PopulationGroupsForm.name.$invalid && PopulationGroupsForm.name.$touched||vm.nameRepeat }">
                  <label class="col-md-3 text-right">{{'0011' | translate}}:</label>
                  <div class="col-md-7"
                    ng-class="{'has-error': PopulationGroupsForm.name.$invalid && PopulationGroupsForm.name.$touched||vm.nameRepeat }">
                    <input class="form-control" maxlength="60" data-ng-model="vm.populationgroupsDetail.name"
                      ng-required="true" ng-disabled="vm.isDisabled" name="name" id="name" class="form-control"
                      type="text" ng-focus="vm.nameRepeat = false">
                    <span
                      ng-if="PopulationGroupsForm.name.$invalid && PopulationGroupsForm.name.$touched ||vm.nameRepeat"
                      class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                    <span ng-if="PopulationGroupsForm.name.$invalid && PopulationGroupsForm.name.$touched"
                      class="help-block ">{{'0016' | translate}}</span>
                    <span ng-if="vm.nameRepeat" class="help-block ">{{'0038' | translate}}</span>
                  </div>
                </div>
                <div class="form-group form-group-sm text-left">
                  <label class="col-md-3 text-right">{{'0221' | translate}}:</label>
                  <div class="col-md-2 text-left ">
                    <select charset="utf-8" ng-options="obj as obj.name for obj in vm.ListGender track by obj.id"
                      data-ng-model="vm.populationgroupsDetail.gender" class="form-control" ng-required="true"
                      ng-disabled="vm.isDisabled"></select>
                  </div>
                  <label class="col-md-3 text-right ">{{'0222' | translate}}:</label>
                  <div class="col-md-2 text-left">
                    <select charset="utf-8" ng-options="obj.value as obj.text for obj in vm.ListUnitTime"
                      data-ng-model="vm.populationgroupsDetail.unitAge" ng-change="vm.changeRange()"
                      class="form-control" ng-required="true" ng-disabled="vm.isDisabled"></select>
                  </div>
                </div>
                <div class="form-group form-group-sm text-left panel-padding">
                  <label class="col-sm-3 text-right">{{'0223' | translate}}:</label>
                  <div name="ageMin" class="col-md-2 text-left "
                    ng-class="{'has-error': (vm.ageMin > vm.ageMax) || (PopulationGroupsForm.$invalid && PopulationGroupsForm.ageMin.$touched) }">
                    <number-input data-ng-model="vm.ageMin" max="vm.valueMaxInit" min="vm.valueMinInit" step="1"
                      start="vm.valueStartInit" disabledecimal="true" decimalplaces="0" disable="vm.isDisabled">
                    </number-input>
                    <span
                      ng-if="(vm.ageMin > vm.ageMax) || (PopulationGroupsForm.$invalid && PopulationGroupsForm.ageMin.$touched)"
                      class="help-block" style="white-space: nowrap;">{{'0119' | translate}}</span>
                  </div>
                  <label class="col-sm-3 text-right">{{'0224' | translate}}:</label>
                  <div name="ageMax" class="col-md-2 text-left "
                    ng-class="{'has-error': (vm.ageMin > vm.ageMax) || (PopulationGroupsForm.$invalid && PopulationGroupsForm.ageMin.$touched) }">
                    <number-input ng-model="vm.ageMax" max="vm.valueMaxEnd" min="vm.valueMinEnd" step="1"
                      start="vm.valueStartEnd" disabledecimal="true" decimalplaces="0" disable="vm.isDisabled">
                    </number-input>
                  </div>
                </div>
                <div class="form-group form-group-sm text-left">
                  <label class="col-md-3 text-right">{{'0014' | translate}}:</label>
                  <div class="col-md-9  text-left ">
                    <toggle ng-model="vm.populationgroupsDetail.state" on="{{'0068' | translate}}"
                      off="{{'0492' | translate}}" ng-disabled="vm.isDisabledState" ng-change="vm.changeState()"
                      size="btn-sm"></toggle>
                    <modalstate openstatemodal="vm.ShowPopupState" detailstate="vm.populationgroupsDetail.state">
                    </modalstate>
                  </div>
                </div>
              </form>
            </div>
            <div class="panel-footer general-container">
              <button type="button" class=" btn btn-success button-list"
                ng-click="vm.NewPopulationGroups(PopulationGroupsForm)" ng-disabled="vm.isDisabledAdd">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                {{'0005' | translate}}
              </button>
              <button type="button" class="btn btn-warning button-list" ng-click="vm.EditPopulationGroups()"
                ng-disabled="vm.isDisabledEdit">
                <span class=" glyphicon glyphicon-pencil" aria-hidden="true"></span>{{'0006' | translate}}
              </button>
              <button type="button" class="btn btn-primary button-list"
                ng-click="vm.savePopulationGroups(PopulationGroupsForm)"
                ng-disabled="!PopulationGroupsForm.$valid || vm.isDisabledSave">
                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>{{'0007' | translate}}
              </button>
              <button type="button" class="btn btn-info  button-list"
                ng-click="vm.cancelPopulationGroups(PopulationGroupsForm)" ng-disabled="vm.isDisabledCancel">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>{{'0008' | translate}}
              </button>
              <button type="button" class="btn btn-violet button-list" ng-click="vm.generateFile()"
                ng-disabled="vm.isDisabledPrint">
                <span class="glyphicon glyphicon-print" aria-hidden="true"></span>{{'0009' | translate}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<modalerror openerrormodal="vm.ShowPopupError" detailerror="vm.Error"></modalerror>
<script type="text/ng-template" id="Requerido.html">
  <div class="modal fade" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header modal-header-prymary">
                    <h4 class="modal-title" align="justify">
                        {{'0171' | translate}}
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-5 col-md-offset-3">
                                <a ng-click="close('No')" class="thumbnail" data-dismiss="modal">
                                    <img src="images/Demograficos.png">
                                    <h6 class="text-center">{{'0069' | translate}}</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
