<loadpage view="vm.loadingdata"></loadpage>
<modalreport openmodal="vm.open"></modalreport>
<modalerror openerrormodal="vm.ShowPopupError" detailerror="vm.Error"></modalerror>
<section class="general-container">
  <div class="row general-container">
    <div class="panel panel-primary panel-principal">
      <div class="panel-heading row">
        <div class=" col-md-4 panel-title">
          <strong class="panel-title text-left title-bar">
            {{'0037' | translate |uppercase}}
          </strong>
        </div>
        <div class=" col-md-8 text-right" style="padding-top: 5px">
          <strong ng-bind="vm.usuario"></strong>
          <span class="question-style glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="bottom"
            title="Ctrl + B"
            onclick="javascript:window.open('/enterprise_nt_help/index.htm?page=enterprise_nt/configuration/area/area.htm','','width=1100,height=600,left=50,top=50,toolbar=yes');"></span>
        </div>
      </div>
      <div class="panel-body general-container panel-padding panel-scroll contentscroll">
        <div class="col-md-5 panel-padding" style="height: 99%">
          <div class="panel-list">
            <div class="panel panel-primary general-container">
              <div class="panel-body general-container">
                <div>
                  <div class="input-group right-bar">
                    <input data-ng-model="vm.search" class="form-control" type="text"
                      placeholder="{{'0015' | translate}}">
                    <div class="input-group-addon">
                      <i class="glyphicon glyphicon-search"></i>
                    </div>
                  </div>
                  <div class="number-bage">
                    <span style="margin-top: 10px" class="badge" data-ng-bind="vm.filtered.length"></span>
                  </div>
                </div>
                <table id="tableArea" class="table table-list">
                  <thead>
                    <tr>
                      <th class="col-md-2">
                        <a
                          ng-click="$event.stopPropagation(); vm.sortType =  vm.ordering; vm.sortReverse = !vm.sortReverse; $event.stopPropagation() ">
                          <i ng-if="!vm.sortReverse && vm.sortType != vm.ordering"
                            class="glyphicon glyphicon-sort-by-alphabet"></i>
                          <i ng-if="vm.sortReverse && vm.sortType != vm.ordering"
                            class="glyphicon glyphicon-sort-by-alphabet-alt"></i>
                          <i ng-if="vm.sortType == vm.ordering && !vm.sortReverse "
                            class="glyphicon glyphicon-triangle-bottom"></i>
                          <i ng-if="vm.sortType == vm.ordering && vm.sortReverse"
                            class="glyphicon glyphicon-triangle-top"></i>
                          <span ng-show="vm.sortType == vm.ordering && !vm.sortReverse"></span>
                          <span ng-show="vm.sortType == vm.ordering && vm.sortReverse"></span>
                        </a>{{'0018' | translate}}
                      </th>
                      <th class="col-md-4">
                        <a
                          ng-click="$event.stopPropagation(); vm.sortType =  vm.name; vm.sortReverse = !vm.sortReverse; $event.stopPropagation() ">
                          <i ng-if="!vm.sortReverse && vm.sortType != vm.name"
                            class="glyphicon glyphicon-sort-by-alphabet"></i>
                          <i ng-if="vm.sortReverse && vm.sortType != vm.name"
                            class="glyphicon glyphicon-sort-by-alphabet-alt"></i>
                          <i ng-if="vm.sortType == vm.name && !vm.sortReverse "
                            class="glyphicon glyphicon-triangle-bottom"></i>
                          <i ng-if="vm.sortType == vm.name && vm.sortReverse"
                            class="glyphicon glyphicon-triangle-top"></i>
                          <span ng-show="vm.sortType == vm.name && !vm.sortReverse"></span>
                          <span ng-show="vm.sortType == vm.name && vm.sortReverse"></span>
                        </a>{{'0011' | translate}}
                      </th>
                      <th class="col-md-3">
                        <a
                          ng-click="$event.stopPropagation(); vm.sortType =  vm.nametype; vm.sortReverse = !vm.sortReverse; $event.stopPropagation() ">
                          <i ng-if="!vm.sortReverse && vm.sortType != vm.nametype"
                            class="glyphicon glyphicon-sort-by-alphabet"></i>
                          <i ng-if="vm.sortReverse && vm.sortType != vm.nametype"
                            class="glyphicon glyphicon-sort-by-alphabet-alt"></i>
                          <i ng-if="vm.sortType == vm.nametype && !vm.sortReverse "
                            class="glyphicon glyphicon-triangle-bottom"></i>
                          <i ng-if="vm.sortType == vm.nametype && vm.sortReverse"
                            class="glyphicon glyphicon-triangle-top"></i>
                          <span ng-show="vm.sortType == vm.nametype && !vm.sortReverse"></span>
                          <span ng-show="vm.sortType == vm.nametype && vm.sortReverse"></span>
                        </a>{{'0035' | translate}}
                      </th>
                      <th class="col-md-2">
                        <a
                          ng-click="$event.stopPropagation(); vm.sortType =  vm.state; vm.sortReverse = !vm.sortReverse; $event.stopPropagation() ">
                          <i ng-if="!vm.sortReverse && vm.sortType != vm.state"
                            class="glyphicon glyphicon-sort-by-alphabet"></i>
                          <i ng-if="vm.sortReverse && vm.sortType != vm.state"
                            class="glyphicon glyphicon-sort-by-alphabet-alt"></i>
                          <i ng-if="vm.sortType == vm.state && !vm.sortReverse "
                            class="glyphicon glyphicon-triangle-bottom"></i>
                          <i ng-if="vm.sortType == vm.state && vm.sortReverse"
                            class="glyphicon glyphicon-triangle-top"></i>
                          <span ng-show="vm.sortType == vm.state && !vm.sortReverse"></span>
                          <span ng-show="vm.sortType == vm.state && vm.sortReverse"></span>
                        </a>{{'0014' | translate}}
                      </th>
                    </tr>
                  </thead>
                  <tbody class="tbody-list contentscroll" data-scroll-to-top='vm.filtered.length'>
                    <tr class="row-list"
                      data-ng-repeat="Area in vm.filtered = ((vm.dataAreas | filter: {searchall:vm.search}) |  orderBy:vm.sortType:vm.sortReverse)"
                      data-ng-click="vm.getAreaById(Area.id,$index,AreasForm)"
                      ng-class="{info: Area.id == vm.selected, danger: Area.state == 0 }">
                      <td class="col-md-2" data-ng-bind="Area.ordering"></td>
                      <td class="col-md-4" data-ng-bind="Area.name"></td>
                      <td class="col-md-3" data-ng-bind="Area.nametype"></td>
                      <td class="col-md-2" style="text-align: center;">
                        <i ng-if="Area.state == 1" class="glyphicon glyphicon-ok green"></i>
                        <i ng-if="Area.state == 0" class="glyphicon glyphicon-ban-circle red"></i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-7 panel-padding" style="height: 99%">
          <div class="panel-list">
            <div class="panel panel-primary general-container">
              <div class="panel-body panel-form contentscroll" style="overflow: auto">
                <form name="AreasForm" id="AreasForm" class="form-horizontal panel-body" style="width: 95%;">
                  <div style="display: none">
                    <div>
                      <input data-ng-model="vm.areaDetail.id">
                    </div>
                  </div>
                  <div class="form-group form-group-sm has-feedback"
                    ng-class="{'has-error': AreasForm.ordering.$invalid && AreasForm.ordering.$touched || vm.orderingRepeat }">
                    <div class="col-sm-3 text-right">
                      <label>{{'0018' | translate}}:</label>
                    </div>
                    <div class="col-sm-3">
                      <number-input ng-model="vm.areaDetail.ordering" max="100" min="0" step="1" start="0"
                        disabledecimal="true" decimalplaces="0" disable="vm.isDisabled" id="'codeArea'"
                        name="'codeArea'"></number-input>
                      <span ng-if="AreasForm.ordering.$invalid && AreasForm.ordering.$touched || vm.orderingRepeat"
                        class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                      <span ng-if="AreasForm.ordering.$invalid && AreasForm.ordering.$touched"
                        class="help-block ">{{'0016' | translate}}</span>
                      <span ng-if="vm.orderingRepeat" class="help-block ">{{'0038' | translate}}</span>
                    </div>
                    <div class="col-sm-3 text-right">
                      <label>{{'0019' | translate}}:</label>
                    </div>
                    <div class="col-md-3">
                      <input data-ng-model="vm.areaDetail.abbreviation" maxlength="10" ng-required="true"
                        ng-disabled="vm.isDisabled" name="abbreviation" id="Abreabbreviationviatura"
                        class="form-control" type="text" ng-focus="vm.abbreviationRepeat = false">
                      <span
                        ng-if="AreasForm.abbreviation.$invalid && AreasForm.abbreviation.$touched || vm.abbreviationRepeat"
                        class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                      <span ng-if="AreasForm.abbreviation.$invalid && AreasForm.abbreviation.$touched"
                        class="help-block">{{'0016' | translate}}</span>
                      <span ng-if="vm.abbreviationRepeat" class="help-block ">{{'0038' | translate}}</span>
                    </div>
                  </div>
                  <div class="form-group form-group-sm has-feedback"
                    ng-class="{'has-error':AreasForm.name.$invalid && AreasForm.name.$touched || vm.nameRepeat}">
                    <div class="col-sm-3 text-right">
                      <label>{{'0011' | translate}}:</label>
                    </div>
                    <div class="col-md-9">
                      <input data-ng-model="vm.areaDetail.name" maxlength="70" ng-disabled="vm.isDisabled"
                        ng-required="true" name="name" id="name" class="form-control" type="text"
                        ng-focus="vm.nameRepeat = false" onkeyup="javascript:this.value=this.value.toUpperCase();">
                      <span ng-if="AreasForm.name.$invalid && AreasForm.name.$touched || vm.nameRepeat"
                        class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                      <span ng-if="AreasForm.name.$error.required && AreasForm.name.$touched"
                        class="help-block">{{'0016' | translate}}</span>
                      <span ng-if="vm.nameRepeat" class="help-block ">{{'0038' | translate}}</span>
                    </div>
                  </div>
                  <div class="form-group form-group-sm has-feedback" >
                    <div class="col-sm-3 text-right">
                      <label>{{'3137' | translate}}:</label>
                    </div>
                    <div class="col-md-9">
                      <input data-ng-model="vm.areaDetail.nameEnglish" maxlength="70" ng-disabled="vm.isDisabled"
                        ng-required="false" name="nameEnglish" id="nameEnglish" class="form-control" type="text"
                        ng-focus="vm.nameRepeat = false">
                    </div>
                  </div>
                  <div class="form-group form-group-sm has-feedback text-right"
                    ng-class="{'has-error':AreasForm.TipoSeccion.$invalid && AreasForm.TipoSeccion.$touched}">
                    <label class="col-md-3">{{'0035' | translate}}:</label>

                    <div class="col-md-9">
                      <select charset="utf-8"
                        ng-options="obj as obj.{{'0000' | translate}} for obj in vm.ListLaboratory track by obj.id"
                        data-ng-model="vm.areaDetail.type" class="form-control" ng-required="true"
                        ng-disabled="vm.isDisabled"></select>
                      <span ng-if="AreasForm.TipoSeccion.$invalid && AreasForm.TipoSeccion.$touched"
                        class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                    </div>
                  </div>
                  <div class="form-group form-group-sm">
                    <div class="text-right">
                      <label class="col-md-3">{{'0034' | translate}}:</label>
                    </div>
                    <div class="col-md-3">
                      <toggle ng-model="vm.areaDetail.partialValidation" on="{{'0068' | translate}}"
                        off="{{'0492' | translate}}" ng-disabled="vm.isDisabled" size="btn-sm"></toggle>
                    </div>
                  </div>
                  <div class="form-group form-group-sm">
                    <div class="text-right">
                      <label class="col-md-3">{{'0036' | translate}}:</label>
                    </div>
                    <div class="col-md-3">
                      <spectrum-colorpicker ng-model="vm.areaDetail.color" disabled="vm.isDisabled" format="'hex'">
                      </spectrum-colorpicker>
                    </div>
                  </div>
                  <div class="form-group form-group-sm">
                    <div class="text-right">
                      <label class="col-md-3">{{'0014' | translate}}:</label>
                    </div>

                    <div class="col-md-3">
                      <toggle ng-model="vm.areaDetail.state" on="{{'0068' | translate}}" off="{{'0492' | translate}}"
                        ng-disabled="vm.isDisabledState" ng-change="vm.changeState()" size="btn-sm"></toggle>
                    </div>
                  </div>
                </form>
                <modalstate openstatemodal="vm.ShowPopupState" detailstate="vm.areaDetail.state"></modalstate>
              </div>
              <div class="panel-footer">
                <div class="container" style="width: 100%">
                  <button type="button" class=" btn btn-success button-list" ng-click="vm.addArea(AreasForm)"
                    ng-disabled="vm.isDisabledAdd">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>{{'0005' | translate}}
                  </button>
                  <button type="button" class="btn btn-warning  button-list" ng-click="vm.editArea()"
                    ng-disabled="vm.isDisabledEdit">
                    <span class=" glyphicon glyphicon-pencil" aria-hidden="true"></span>{{'0006' | translate}}
                  </button>
                  <button type="submit" class="btn btn-primary  button-list" ng-click="vm.saveArea(AreasForm)"
                    ng-disabled="!AreasForm.$valid || vm.isDisabledSave">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>{{'0007' | translate}}
                  </button>
                  <button type="button" class="btn btn-info button-list" ng-click="vm.cancelArea(AreasForm)"
                    ng-disabled="vm.isDisabledCancel">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>{{'0008' | translate}}
                  </button>
                  <button type="button" class="btn btn-violet button-list" ng-click="vm.generateFile()"
                    ng-disabled="vm.isDisabledPrint">
                    <span class="glyphicon glyphicon-print" aria-hidden="true"></span>{{'0009' | translate}}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
