<modalexceptions openmodal="vm.ShowPopupError" detailerror="vm.Error"></modalexceptions>
<loadreport pathreport="vm.pathreport" datareport="vm.datareport" variables="vm.variables" openmodal="vm.openreport">
</loadreport>
<loadpage view="vm.loadingdata"></loadpage>
<div id="page_content">
    <div id="page_content_inner" style="overflow: hidden">
        <div class="md-card" style="height: 92%;padding: 20px;">
            <div class="uk-grid fullheight">
                <div class="uk-width-4-10" style="padding-left: 25px;">
                    <div class="md-card md-card-hover" style="min-height: 68px;">
                        <div class="md-card-content" style="padding: 0;">
                            <label class="inline-label" style="font-size: 13px;">{{'1734' | translate}}</label>
                            <div class="uk-grid" style="margin-top: 8px;">
                                <div class="uk-width-1-3" style="margin-left: 9px;">
                                    <div style="font-size: 12px !important">
                                        <div style="margin-bottom: 3px;">
                                            <input type="radio" name="typeaudit" id="typeauditcashbox" icheck
                                                ng-model="vm.typeaudit" value="2" ng-change="vm.changetypeaudit()" />
                                            <label style="margin-right: 20px" for="typeauditcashbox"
                                                class="inline-label">Caja</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-3" style="padding-left: 15px;">
                                    <div style="font-size: 12px !important">
                                        <div style="margin-bottom: 3px;">
                                            <input type="radio" name="typeaudit" id="typeauditgeneral" icheck
                                                ng-model="vm.typeaudit" value="1" ng-change="vm.changetypeaudit()" />
                                            <label style="margin-right: 20px" for="typeauditgeneral"
                                                class="inline-label">{{'1766' | translate}}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-3" style="margin-left: -20px;">
                                    <div style="font-size: 12px !important">
                                        <div>
                                            <input type="radio" name="typeaudit" id="typeauditorder" icheck
                                                ng-model="vm.typeaudit" value="0" ng-change="vm.changetypeaudit()" />
                                            <label for="typeauditorder" class="inline-label">{{'1731' |
                                                translate}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-width-4-10" style="padding-left: 12px;">
                    <div class="md-card md-card-hover" style="min-height: 68px;">
                        <div class="md-card-content" style="padding: 0px 10px;">
                            <div class="uk-grid" ng-if="vm.typeaudit ==='2'">
                                <div class="uk-width-4-10" >
                                    <label style="top: -6px; font-size: 12px;">{{'0072' |
                                        translate}}</label>
                                    <select class="md-input" ng-options="obj.id as obj.name for obj in vm.listYear"
                                        data-ng-model="vm.listYear.id" ng-change="vm.auditByCashOrder()"></select>
                                </div>
                                <div class="uk-width-6-10" style="padding-top: 17px;">
                                    <label>{{'0110' | translate}}</label>
                                    <input id="numberordersearch" class="md-input label-fixed " type="text"
                                        ng-model="vm.codeordernumberorden" ng-keypress="vm.keyselect($event)"
                                        maxlength="{{vm.cantdigit}}" md-input />
                                </div>
                            </div>
                            <div class="uk-grid" ng-if="vm.typeaudit!=='2'">
                                <div class="uk-width-7-10" style="margin-top: 10px;width: 90%;">
                                    <orderfilter rangeinit="vm.rangeInit" rangeend="vm.rangeEnd"
                                        isopenreport="vm.button" typeview="1"></orderfilter>
                                </div>
                                <div class="uk-width-1-10 uk-flex uk-flex-center uk-flex-middle"
                                    style="padding-left: 0px;">
                                    <button type="button" class="md-fab md-fab-smallY md-fab md-fab-primary"
                                        ng-class="{'md-bg-blue-grey-100' : !vm.button}" ng-click="vm.search()"
                                        ng-disabled="!vm.button">
                                        <i class="material-icons" data-uk-tooltip="{pos:'top'}"
                                            title="{{'0154' | translate}}">&#xE8B6;</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="uk-width-2-10" style="padding-left: 12px;">
                    <div class="md-card md-card-hover" style="min-height: 68px;">
                        <div class="md-card-content fullheight" style="padding: 5px 10px;">
                            <div class="uk-input-group">
                                <span class="uk-input-group-addon">
                                    <img ng-src="images/search.png" />
                                </span>
                                <div class="md-input-wrapper md-input-filled">
                                    <label>{{'0154' | translate}}</label>
                                    <input type="text" name="search" id="search" md-input label-fixed
                                        class="md-input  label-fixed" ng-model="vm.searchorder"
                                        ng-disabled="vm.ListOrder.length == 0">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-1" style="height: calc(100% - 103px);margin-top: 15px;">
                    <div class="md-card  md-card-hover fullheight" ng-if="vm.ListOrder.length != 0">
                        <div class="md-card-content fullheight" style="padding: 0px;">
                            <div class="uk-grid uk-flex uk-flex-center uk-flex-middle div-head" style="height: 39px;">
                                <div class="uk-width-1-10">
                                    <a
                                        ng-click="$event.stopPropagation(); vm.sortType = 'orderNumber'; sortReverse = !sortReverse; $event.stopPropagation() ">
                                        <i ng-if="!sortReverse" class="uk-icon-sort-alpha-asc"></i>
                                        <i ng-if="sortReverse" class="uk-icon-sort-alpha-desc"></i>
                                        <span ng-show="vm.sortType == 'orderNumber' && !sortReverse"></span>
                                        <span ng-show="vm.sortType == 'orderNumber' && sortReverse"></span>
                                    </a>{{'0110' | translate}}
                                </div>
                                <div class="uk-width-1-10">
                                    <a
                                        ng-click="$event.stopPropagation(); vm.sortType = 'patientId'; sortReverse = !sortReverse; $event.stopPropagation() ">
                                        <i ng-if="!sortReverse" class="uk-icon-sort-alpha-asc"></i>
                                        <i ng-if="sortReverse" class="uk-icon-sort-alpha-desc"></i>
                                        <span ng-show="vm.sortType == 'patientId' && !sortReverse"></span>
                                        <span ng-show="vm.sortType == 'patientId' && sortReverse"></span>
                                    </a>{{'0117' | translate}}
                                </div>
                                <div class="uk-width-2-10">
                                    <a
                                        ng-click="$event.stopPropagation(); vm.sortType = 'name1'; sortReverse = !sortReverse; $event.stopPropagation() ">
                                        <i ng-if="!sortReverse" class="uk-icon-sort-alpha-asc"></i>
                                        <i ng-if="sortReverse" class="uk-icon-sort-alpha-desc"></i>
                                        <span ng-show="vm.sortType == 'name1' && !sortReverse"></span>
                                        <span ng-show="vm.sortType == 'name1' && sortReverse"></span>
                                    </a>{{'0118' | translate}}
                                </div>
                                <div class="uk-width-2-10">
                                    <a
                                        ng-click="$event.stopPropagation(); vm.sortType = 'email'; sortReverse = !sortReverse; $event.stopPropagation() ">
                                        <i ng-if="!sortReverse" class="uk-icon-sort-alpha-asc"></i>
                                        <i ng-if="sortReverse" class="uk-icon-sort-alpha-desc"></i>
                                        <span ng-show="vm.sortType == 'email' && !sortReverse"></span>
                                        <span ng-show="vm.sortType == 'email' && sortReverse"></span>
                                    </a>{{'0135' | translate}}
                                </div>
                                <div class="uk-width-2-10">
                                    <a
                                        ng-click="$event.stopPropagation(); vm.sortType = 'gendertraduc'; sortReverse = !sortReverse; $event.stopPropagation() ">
                                        <i ng-if="!sortReverse" class="uk-icon-sort-alpha-asc"></i>
                                        <i ng-if="sortReverse" class="uk-icon-sort-alpha-desc"></i>
                                        <span ng-show="vm.sortType == 'gendertraduc' && !sortReverse"></span>
                                        <span ng-show="vm.sortType == 'gendertraduc' && sortReverse"></span>
                                    </a>{{'0102' | translate}}
                                </div>
                                <div class="uk-width-2-10">
                                    <a
                                        ng-click="$event.stopPropagation(); vm.sortType = 'email'; sortReverse = !sortReverse; $event.stopPropagation() ">
                                        <i ng-if="!sortReverse" class="uk-icon-sort-alpha-asc"></i>
                                        <i ng-if="sortReverse" class="uk-icon-sort-alpha-desc"></i>
                                        <span ng-show="vm.sortType == 'email' && !sortReverse"></span>
                                        <span ng-show="vm.sortType == 'email' && sortReverse"></span>
                                    </a>{{'0124' | translate}}
                                </div>
                            </div>
                            <div class="vs-repeat-custom-scroll" vs-repeat="20" style="height: calc(100% - 40px)">
                                <div ng-repeat="patient in vm.filtered= ( vm.ListOrder | filter: vm.searchorder | orderBy:vm.sortType:sortReverse)"
                                    class="uk-grid uk-flex uk-flex-center uk-flex-middle div-table"
                                    style="margin-top: 0px;">
                                    <div class="uk-width-1-10">{{patient.patient.orderNumber}}</div>
                                    <div class="uk-width-1-10">{{patient.patient.patientId}} </div>
                                    <div class="uk-width-2-10">{{patient.patient.name1 | uppercase}}
                                        {{patient.patient.name2 | uppercase}} {{patient.patient.lastName | uppercase}}
                                        {{patient.patient.surName | uppercase}}</div>
                                    <div class="uk-width-2-10">{{patient.patient.email}} </div>
                                    <div class="uk-width-2-10">{{patient.patient.age}} </div>
                                    <div class="uk-width-1-10">{{patient.patient.gendertraduc}} </div>
                                    <div class="uk-width-1-10"> <button type="button"
                                            class="md-btn  md-btn-success md-btn-mini md-btn-icon"
                                            ng-click="vm.dataorder(patient.patient.orderNumber)"><i
                                                class="uk-icon-file-pdf-o no_margin"></i></button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ventana modal para suando no se encuentran datos -->
<div id="nofoundfilter" class="uk-modal">
    <div class="uk-modal-dialog">
        <div class="uk-form-row">
            <form class="form" name="myForm">
                <div class="uk-grid uk-container-center">
                    <div class="uk-width-2-10" style="padding-left: 17px;">
                        <img src="images/Question.png" height="90" width="90">
                    </div>
                    <div class="uk-width-8-10" style="margin-top: 3%;">
                        <span class="uk-text-justify">{{'0962' | translate}}</span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- common functions -->
<script src="assets/js/common.min.js"></script>
<!-- uikit functions -->
<script src="assets/js/uikit_custom.min.js"></script>
<!-- altair common functions/helpers -->
<script src="assets/js/altair_admin_common.js"></script>
