<style type="text/css">
  .number-input {
    width: 100% !important;
    box-shadow: none;
    padding-right: 10px !important;
  }

  .info-select {
    background-color: #c4e3f3;
  }

  .deleted-select {
    background-color: #ebcccc;
  }

  .not-sortable {
    color: #ffffff !important;
    cursor: default !important;
  }

  .md-list .reset_list .border-box .uk-nestable-list>li,
  .md-list>li {
    min-height: 30px !important;
  }

</style>
<loadpage view="vm.loadingdata"></loadpage>
<modalreport openmodal="vm.open"></modalreport>
<modalerror openerrormodal="vm.ShowPopupError" detailerror="vm.Error"></modalerror>
<section class="general-container">
  <div class="row general-container">
    <div class="panel panel-primary panel-principal">
      <div class="panel-heading row">
        <div class=" col-md-4 panel-title">
          <strong class="panel-title text-left title-bar">
            {{'0046' | translate |uppercase}}
          </strong>
        </div>
        <div class=" col-md-8 text-right" style="padding-top: 5px">
          <strong ng-bind="vm.usuario"></strong>
          <span class="question-style glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="bottom"
            title="Ctrl + B"
            onclick="javascript:window.open('/enterprise_nt_help/index.htm?page=enterprise_nt/configuration/container/container.htm','','width=1100,height=600,left=50,top=50,toolbar=yes');"></span>
        </div>
      </div>
      <div class="panel-body general-container panel-padding panel-scroll contentscroll">
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 panel-padding" style="height: 99%">
          <div class="panel-list">
            <div class="panel panel-primary general-container">
              <div class="panel-body general-container">
                <div class="table table-list">
                  <ul class="md-list md-list-addon"
                    style="padding-inline-start: 0px;border-bottom: 2px solid rgba(0, 0, 0, 0.12);margin-bottom: 0px;">
                    <li style="color: #fff;padding: 0px 0px">
                      <div class="md-list-addon-element Bold text" style="padding:0px;color: #333;">
                        <strong>{{'0047' | translate}}</strong>
                      </div>
                      <div class="md-list-content" style="color: #333;margin-bottom: 8px">
                        <div class="col-md-10"><strong>{{'0011' | translate}}</strong></div>
                        <div class="col-md-2"><strong>{{'0014' | translate}}</strong></div>
                      </div>
                    </li>
                  </ul>
                  <ul class="md-list md-list-addon contentscroll" ui-sortable="vm.sortableOptions" ng-model="vm.data"
                    style="padding-inline-start: 0px;height: calc(100% - 0px);overflow-y: scroll;">
                    <li ng-repeat="container in vm.data"
                      ng-class="{'info-select': container.id == vm.selected, 'deleted-select': container.state == false,'not-sortable': container.state === false || vm.isDisabledPrint}"
                      data-ng-click="vm.getId(container.id,$index,Form)" style="color: #fff;padding: 0px 0px">
                      <div class="md-list-addon-element"
                        ng-class="{'disabled-liv': container.state === false || vm.isDisabledPrint,'deleted-select': container.state == false, 'info-select': container.id == vm.selected,}"
                        style="padding: 5px">
                        <span class="label label-primary"
                          ng-if="container.state===true">{{container.priority=$index + 1}}</span>
                        <span class="label label-danger"
                          ng-if="container.state===false">{{container.priority=$index + 1}}</span>
                      </div>
                      <div class="md-list-content" style="color: #333;margin-bottom: 8px">
                        <div class="col-md-10" style="margin-top: 5px;">{{container.name}}</div>
                        <div class="col-md-2 text-right" style="margin-top: 5px;">
                          <i class="glyphicon glyphicon-ok green" ng-if="container.state == true">
                          </i>
                          <i class="glyphicon glyphicon-ban-circle red" ng-if="container.state == false">
                          </i>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 panel-padding" style="height: 99%">
          <div class="panel-list">
            <div class="panel panel-primary general-container">
              <div class="panel-body panel-form contentscroll" style="overflow: auto">
                <form name="Form" id="Form" class="form-horizontal panel-body">
                  <div class="form-group form-group-sm has-feedback"
                    ng-class="{'has-error': Form.name.$invalid && Form.name.$touched || vm.nameRepeat }">
                    <label class="col-sm-2 text-right">{{'0011' | translate}}:</label>
                    <div class="col-sm-9">
                      <input class="form-control" maxlength="60" data-ng-model="vm.Detail.name" ng-required="true"
                        ng-disabled="vm.isDisabled" name="name" id="name" class="form-control" type="text"
                        ng-focus="vm.nameRepeat = false">
                      <span ng-if="Form.name.$invalid && Form.name.$touched ||vm.nameRepeat"
                        class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                      <span ng-if="Form.name.$invalid && Form.name.$touched"
                        class="help-block">{{'0016' | translate}}</span>
                      <span ng-if="vm.nameRepeat" class="help-block">{{'0038' | translate}}</span>
                    </div>
                  </div>
                  <div class="form-group form-group-sm has-feedback has-feedback">
                    <label class="col-md-2 text-right">{{'0048' | translate}}:</label>
                    <div class="col-sm-9">
                      <div fileimg disable="vm.isDisabled" ng-model="vm.Detail.image" height="150" width="110"></div>
                    </div>
                  </div>
                  <div class="form-group form-group-sm has-feedback has-feedback">
                    <label class="col-md-2 text-right">{{'0010' | translate}}:</label>
                    <div class="col-lg-3 col-md-3 text-right">

                      <div class="btn-group" style="
                                                border-radius: 3px;
                                                width: 100%;
                                                border: 1px solid rgb(204, 204, 204);" uib-dropdown>
                        <button ng-disabled="vm.isDisabled" id="btn-append-to-single-button" type="button"
                          ng-class="{'disabledbtnunit': vm.isDisabled}" class="btn" style="
                                                        font-size: 12px;
                                                        line-height: 1.5;
                                                        border-radius: 3px;
                                                        color: #555;
                                                        background-color: #fff;
                                                        background-image: none;
                                                        padding: 4px 4px 3px 13px;
                                                        width: 100%;
                                                        height: 28px" uib-dropdown-toggle>
                          <div class="col-md-11 text-left" style="width: 91.333333%;
                                                         padding-right: 0px;
                                                         padding-left: 0px;all;
                                                         white-space: nowrap;
                                                         overflow: hidden;
                                                         text-overflow: ellipsis"
                            ng-bind-html="vm.Detail.unit.name | trust">
                          </div>
                          <div class="col-md-1" style="width: 7.333333%;
                                                         padding-right: 0px;
                                                         padding-left: 0px;">
                            <span class="caret"></span>
                          </div>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu"
                          aria-labelledby="btn-append-to-single-button" style="    overflow: auto;height: 150px;">
                          <li role="menuitem" ng-repeat="Unit in vm.ListUnits">
                            <a href="#" ng-click="vm.Detail.unit = Unit" ng-bind-html="Unit.name | trust"
                              ng-class="{'aselect':Unit.id === vm.unit.id}"></a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="form-group form-group-sm">
                    <label class="col-md-2 text-right">{{'0014' | translate}}:</label>
                    <div class="col-md-9">
                      <toggle ng-model="vm.Detail.state" on="{{'0068' | translate}}" off="{{'0492' | translate}}"
                        ng-disabled="vm.isDisabledState" ng-change="vm.changeState()" size="btn-sm"></toggle>
                    </div>
                  </div>
                  <modalstate openstatemodal="vm.ShowPopupState" detailstate="vm.Detail.state">
                  </modalstate>
                </form>
              </div>
              <div class="panel-footer">
                <div class="container" style="width: 100%">
                  <button type="button" class=" btn btn-success button-list" ng-click="vm.New(Form)"
                    ng-disabled="vm.isDisabledAdd">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>{{'0005' | translate}}
                  </button>
                  <button type="button" class="btn btn-warning button-list" ng-click="vm.Edit()"
                    ng-disabled="vm.isDisabledEdit">
                    <span class=" glyphicon glyphicon-pencil" aria-hidden="true"></span>{{'0006' | translate}}
                  </button>
                  <button type="button" class="btn btn-primary button-list" ng-click="vm.save(Form)"
                    ng-disabled="!Form.$valid || vm.isDisabledSave">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>{{'0007' | translate}}
                  </button>
                  <button type="button" class="btn btn-info button-list" ng-click="vm.cancel(Form)"
                    ng-disabled="vm.isDisabledCancel">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>{{'0008' | translate}}
                  </button>
                  <button type="button" class="btn btn-violet button-list" ng-click="vm.generateFile()"
                    ng-disabled="vm.isDisabledPrint">
                    <span class="glyphicon glyphicon-print" aria-hidden="true"></span>{{'0009' | translate}}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="text/ng-template" id="validatepriority.html">
  <div class="modal fade" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-3">
                            <img class="img-responsive" src="images/Question.png" width="115" height="115">
                        </div>
                        <div class="col-md-9">
                            <label class="modal-label">{{'0991' | translate}}</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">{{'0032' | translate}}</button>
                    <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">{{'0033' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</script>
