<!-- common functions -->
<script src="assets/js/common.min.js"></script>
<!-- uikit functions -->
<script src="assets/js/uikit_custom.min.js"></script>
<!-- altair common functions/helpers -->
<script src="assets/js/altair_admin_common.min.js"></script>


<style type="text/css">
  .bodyPanel {
    height: calc(100% - 6em) !important;
    ;
    overflow-y: none;
    margin-top: 0px;
    padding-bottom: 0px !important;
    padding-top: 5px !important;
  }

  .footPanel {
    height: 70px;
    overflow: hidden;
    margin-top: -14px;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    vertical-align: bottom;
    overflow-y: none;
  }

  fieldset,
  input,
  select {
    font-size: 13px !important;
    padding-left: 10px !important;
  }


  .radio-check-min {
    padding: 0px !important;
    margin: 0px !important
  }


  table>thead>th {
    padding-bottom: 0px !important;
  }

  .tbody-list {
    overflow-y: scroll;
    height: calc(100% - 84px);
    position: absolute;
  }

  .md-bg-blue-grey-100 {
    cursor: default;
  }

  .uk-tab>li>a:hover,
  .uk-tab>li>a:focus {
    color: #1976d2;
  }

  td.selected {
    background: #d5e1f2;
  }

  .foot-panel {
    margin-bottom: 0px !important;
    border-top-color: #e0e0e0;
    border-top-style: solid;
    border-top-width: 1px;
    height: 72px;
  }
</style>
<modalexceptions openmodal="vm.ShowPopupError" detailerror="vm.Error"></modalexceptions>
<loadpage view="vm.progressPrint"></loadpage>
<loadreport pathreport="vm.pathreport" datareport="vm.datareport" variables="vm.variables" openmodal="vm.openreport"
  orientation="vm.orientation"></loadreport>
<div id="page_content" style="overflow: hidden !important;">
  <div id="page_content_inner" class="bodyPanel">
    <form id="Form" class="md-card md-card-hover" charset="utf-8"
      style="overflow-y: auto;height: calc(100% - 20px); z-index: 100;">
      <div class="md-card-content" style="height: calc(100% - 17px);padding-top: 8px; padding-bottom: 8px;">
        <div class="uk-grid" style="height: 100%">
          <div class="uk-width-1-1" style="height: auto; padding-bottom: 0px;">
            <ul class="uk-tab" data-uk-tab="{connect:'#tabs_1_content'}" id="tabs_1">
              <li class="uk-active"><a href="#" ng-click="vm.clickFlange(1)">{{'0037' | translate | uppercase}}</a></li>
              <li><a href="#" ng-click="vm.clickFlange(2)">{{'0490' | translate | uppercase}}</a></li>
              <li><a href="#" ng-click="vm.clickFlange(3)">{{'0491' | translate | uppercase}}</a></li>
            </ul>
            <ul id="tabs_1_content" class="uk-switcher uk-margin" style="height: calc(100% - 44px) !important">
              <li>
                <div ng-if="vm.flange === 1">
                  <div class="uk-width-1-1">
                    <fieldset class="fieldset" style="height: 50px">
                      <orderfilter rangeinit="vm.rangeInit" rangeend="vm.rangeEnd" typefilter="vm.filterRange"
                        isopenreport="vm.isOpenReport"></orderfilter>
                    </fieldset>
                  </div>
                  <div class="uk-grid" style="margin-left: 0px">
                    <div class="uk-width-1-2" style="padding-left: 0px; margin-top: 1px;">
                      <fieldset class="fieldset" style="height: 52px;">
                        <label for="orderType" style="top: 2px;">{{'0088' | translate}}</label>
                        <select md-input label-fixed class="md-input label-fixed" id="orderType" charset="utf-8"
                          ng-options="obj as obj.name for obj in vm.listOrderType track by obj.id"
                          data-ng-model="vm.modelOrderType" md-input class="md-input"
                          style="padding-bottom: 2px;"></select>
                      </fieldset>
                    </div>
                    <div class="radio-check uk-width-1-2"
                      style=" padding-left: 10px; margin-left: 0px; white-space: nowrap;">
                      <fieldset class="fieldset uk-width-1-1"
                        style="height: 67px; padding-right: 0px; margin-right: 0.8%;">
                        <legend>{{'0161' | translate}}</legend>
                        <input type="radio" id="idIndicator" name="typeReport" checked ng-model="vm.isIndicator"
                          value="true">
                        <label for="idIndicator" style="top: 3px">{{'0037' | translate}}</label>
                        <input type="radio" id="idTracking" name="typeReport" ng-model="vm.isIndicator" value="false">
                        <label for="idTracking" style="top: 3px">{{'0483' | translate}}</label>
                      </fieldset>
                    </div>
                  </div>
                  <div ng-show="vm.isIndicator === 'true'">
                    <filterareatest id="'filterAreaTest'" confidential="vm.confidential"
                      numfilterareatest="vm.numFilterAreaTest" listareas="vm.listAreas" listtests="vm.listTests">
                    </filterareatest>
                    <filterdemographic id="'filterDemographics'" demographic="vm.demographics" excludetypeorder="true"
                      maxdemographics="4" demosmask="vm.demosmask">
                    </filterdemographic>
                  </div>
                  <div class="uk-width-1-1" style="margin-top: 10px;margin-left: 31px;">
                    <md-checkbox class="md-primary" ng-model="vm.groupProfiles" aria-label="Agrupar por perfiles">
                      Agrupar por perfiles
                    </md-checkbox>
                  </div>
                </div>
              </li>
              <li>
                <div ng-if="vm.flange === 2">
                  <div class="uk-width-1-1">
                    <fieldset class="fieldset" style="height: 50px">
                      <orderfilter rangeinit="vm.rangeInit" rangeend="vm.rangeEnd" typefilter="vm.filterRange"
                        isopenreport="vm.isOpenReport"></orderfilter>
                    </fieldset>
                  </div>
                  <div class="uk-grid" style="margin-left: 0px">
                    <fieldset class="fieldset uk-width-1-3" style="width: 39%">                    
                      <legend>{{'0431' | translate}}:</legend>
                      <div class="uk-grid" style="margin-top: 4px">
                        <div class="uk-width-1-1">
                          <isteven-multi-select input-model="vm.modernBrowsers" output-model="vm.outputBrowsers"
                            button-label="icon name" item-label="icon name maker" tick-property="ticked">
                          </isteven-multi-select>
                        </div>
                      </div>
                    </fieldset>
                    <fieldset class="fieldset uk-width-1-3" style="margin-left: 1%; width: 40%">
                      <label for="typeGrouping" style="top: 2px;">{{'0530' | translate}}</label>
                      <select md-input label-fixed class="md-input label-fixed" id="typeGrouping" charset="utf-8"
                        ng-options="obj as obj.name for obj in vm.listTypeGrouping track by obj.id"
                        data-ng-model="vm.modelTypeGrouping" md-input class="md-input"
                        style="padding-bottom: 2px;"></select>
                    </fieldset>
                    <fieldset class="fieldset uk-width-1-3" style="margin-left: 1%; width: 19%">
                      <label for="level" style="top: 2px;">{{'0442' | translate}}</label>
                      <select md-input label-fixed class="md-input label-fixed" id="level" charset="utf-8"
                        ng-options="obj as obj.name for obj in vm.listLevel track by obj.id"
                        data-ng-model="vm.modelLevel" md-input class="md-input" style="padding-bottom: 2px;"></select>
                    </fieldset>
                  </div>
                  <filterareatest id="'filterAreaTest2'" confidential="vm.confidential"
                    numfilterareatest="vm.numFilterAreaTest" listareas="vm.listAreas" listtests="vm.listTests">
                  </filterareatest>
                  <filterdemographic id="'filterAreaTest2'" demographic="vm.demographics" demosmask="vm.demosmask">
                  </filterdemographic>
                  <div class="uk-width-1-1" style="margin-top: 10px;margin-left: 31px;">
                    <md-checkbox class="md-primary" ng-model="vm.groupProfiles" aria-label="Agrupar por perfiles">
                      Agrupar por perfiles
                    </md-checkbox>
                  </div>
                </div>
              </li>
              <li>
                <div ng-if="vm.flange === 3">
                  <div class="uk-width-1-1">
                    <fieldset class="fieldset" style="height: 50px">
                      <orderfilter rangeinit="vm.rangeInit" rangeend="vm.rangeEnd" typefilter="vm.filterRange"
                        isopenreport="vm.isOpenReport" typeview="2"></orderfilter>
                    </fieldset>
                  </div>
                  <filterareatest id="'filterAreaTest3'" confidential="vm.confidential"
                    numfilterareatest="vm.numFilterAreaTest" listareas="vm.listAreas" listtests="vm.listTests">
                  </filterareatest>
                  <filterdemographic id="'filterDemographics3'" demographic="vm.demographics" demosmask="vm.demosmask" excludetypeorder="false">
                  </filterdemographic>
                  <div class="uk-width-1-1" style="margin-top: 10px;margin-left: 31px;">
                    <md-checkbox class="md-primary" ng-model="vm.groupProfiles" aria-label="Agrupar por perfiles">
                      Agrupar por perfiles
                    </md-checkbox>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div id="modalprogress" class="uk-modal" data-uk-modal>
    <div class="uk-modal-dialog">
      <div class="uk-progress  uk-active" style="margin-bottom: 3px">
        <div class="uk-progress-bar" style="width: {{vm.porcent}}%;"></div>
      </div>
      <div class="uk-width-1-1 uk-text-center uk-text-bold uk-text-small">
        Generando reporte ....
      </div>
    </div>
  </div>
  <div id="page_content_inner" class="footPanel">
    <form class="md-card md-card-hover foot-panel">
      <div class="md-card-content uk-text-right" style="width: 97%; padding-top: 12px !important;"
        ng-show="vm.flange === 1">
        <div style="display: inline-block;">
          <button style="float: right; margin-left: 5px" type="button" class="md-fab md-fab-small md-bg-red-A700"
            ng-click="vm.progressPrint = true; vm.generateFile('pdf')"
            ng-disabled="!vm.isOpenReport || vm.modelOrderType.id === undefined "
            ng-class="{'md-bg-blue-grey-100': !vm.isOpenReport || vm.modelOrderType.id === undefined }">
            <i class="uk-icon-file-pdf-o md-color-light-blue-50" data-uk-tooltip="{pos:'top'}"
              title="Descargar pdf"></i>
          </button>
          <button style="float: right" type="button" class="md-fab md-fab-small md-bg-green-A700"
            ng-click="vm.progressPrint = true;vm.generateFile('xls');" n
            ng-disabled="!vm.isOpenReport || vm.modelOrderType.id === undefined "
            ng-class="{'md-bg-blue-grey-100':!vm.isOpenReport || vm.modelOrderType.id === undefined }">
            <i class="uk-icon-file-excel-o md-color-light-blue-50" data-uk-tooltip="{pos:'top'}"
              title="Descargar excel"></i>
          </button>
        </div>
      </div>
      <div class="md-card-content uk-text-right" style="width: 97%" ng-show="vm.flange === 2">
        <div style="display: inline-block;">
          <button style="float: right; margin-left: 5px" type="button" class="md-fab md-fab-small md-bg-red-A700"
            ng-click="vm.progressPrint = true; vm.generateFile('pdf')"
            ng-disabled="!vm.isOpenReport || vm.modelLevel.id === undefined"
            ng-class="{'md-bg-blue-grey-100': !vm.isOpenReport || vm.modelLevel.id === undefined}">
            <i class="uk-icon-file-pdf-o md-color-light-blue-50" data-uk-tooltip="{pos:'top'}"
              title="Descargar pdf"></i>
          </button>
          <button style="float: right" type="button" class="md-fab md-fab-small md-bg-green-A700"
            ng-click="vm.progressPrint = true;vm.generateFile('xls');" n
            ng-disabled="!vm.isOpenReport || vm.modelLevel.id === undefined"
            ng-class="{'md-bg-blue-grey-100': !vm.isOpenReport || vm.modelLevel.id === undefined}">
            <i class="uk-icon-file-excel-o md-color-light-blue-50" data-uk-tooltip="{pos:'top'}"
              title="Descargar excel"></i>
          </button>
        </div>
      </div>
      <div class="md-card-content uk-text-right" style="width: 97%" ng-show="vm.flange === 3">
        <div style="display: inline-block;">
          <button style="float: right; margin-left: 5px" type="button" class="md-fab md-fab-small md-bg-red-A700"
            ng-click="vm.progressPrint = true; vm.generateFile('pdf')" ng-disabled="!vm.isOpenReport"
            ng-class="{'md-bg-blue-grey-100': !vm.isOpenReport}">
            <i class="uk-icon-file-pdf-o md-color-light-blue-50" data-uk-tooltip="{pos:'top'}"
              title="Descargar pdf"></i>
          </button>
          <button style="float: right" type="button" class="md-fab md-fab-small md-bg-green-A700"
            ng-click="vm.progressPrint = true;vm.generateFile('xls');" n ng-disabled="!vm.isOpenReport"
            ng-class="{'md-bg-blue-grey-100': !vm.isOpenReport}">
            <i class="uk-icon-file-excel-o md-color-light-blue-50" data-uk-tooltip="{pos:'top'}"
              title="Descargar excel"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<div id="logNoData" class="uk-modal" aria-hidden="true">
  <div class="uk-modal-dialog" style="width: 685px; height: 140px;">
    <button type="button" class="uk-modal-close uk-close"></button>
    <div class="uk-modal-body" style="height: 75px; top: 0px">
      <div style="width: 18%; float: left">
        <img class="img-responsive" src="images/iconinfo.png">
      </div>
      <div class="messageText uk-text-center" style="height: 100%;width:
          80%;">
        <label style="margin-top: 20px; margin-left: 5px; font-size: 13px">{{vm.message}}</label>
      </div>
    </div>
    <div class="uk-modal-footer">
    </div>
  </div>
</div>